// Popover

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/popover";

$popover-header-bg:   $white;

.popover {
  box-shadow: $popover-box-shadow;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: $white;
}
