// dropdown

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/dropdown";



.dropdown-toggle {
  margin-bottom: 0;
}

// The dropdown menu
.dropdown-menu {
  box-shadow: $dropdown-box-shadow;

  @media (min-width: 1600px) {
    font-size: .875rem;
  }
}

// Open state for the dropdown
.show {
  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Dropdown section headers
.dropdown-header {
  padding: .75rem $dropdown-item-padding-x;
  margin-top: -.5rem;
  margin-bottom: .5rem;
  font-size: .9em;
  color: $gray-rgba-800;
  border-bottom: 1px solid $gray-500;
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: 400;
}

// Dropdown arrow
.dropdown-menu-arrow-left:after {
  content: '';
  position: absolute;
  left: 9px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent $body-bg transparent;
  pointer-events: none;
}

.dropdown-menu-arrow-left:before {
  content: '';
  position: absolute;
  left: 7px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent $gray-rgba-300 transparent;
  pointer-events: none;
}

.dropdown-menu-arrow-right:after {
  content: '';
  position: absolute;
  right: 9px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent $body-bg transparent;
  pointer-events: none;
}

.dropdown-menu-arrow-right:before {
  left: auto;
  content: '';
  position: absolute;
  right: 7px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent $gray-rgba-300 transparent;
  pointer-events: none;
}

// Drop Down item

.dropdown-item.active {
  font-weight: 600;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  cursor: pointer;
}

// adds bottom margin when dropdown is within a responsive table

.table-responsive .dropdown-menu {
  margin-bottom: .75rem;
}

// increases bottom area to fix hover for dropdown

.dropdown .btn:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: -.25rem;
}

.nav-underline .dropdown:before,
.navbar-nav .dropdown:before,
.nav-tabs > .dropdown:before {
  display: none;
}

// show dropdown on hover above 1025px

@media (min-width: 1025px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
