//
// radio-input
//

input.radio-input {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  margin: 0 !important;
  opacity: 0;
  -webkit-appearance: none;
}

input.radio-input + label {
  positon: relative;
  flex: 0 0 auto;
  width: $form-check-height;
  height: $form-check-height;
  border-radius: $round;
  box-shadow: inset 0 0 0 2px $gray-700;
  background-color: $white;
  transition: box-shadow $transition, background-color $transition;
}

input.radio-input + label:before {
  position: absolute;
  top: 25%;
  left: 25%;
  display: block;
  width: 50%;
  height: 50%;
  margin-bottom: 0;
  content: '';
  transition: all $transition;
  border-radius: $round;
  background-color: $gray-200;
  transform: scale(.75);
}

input.radio-input + label:hover:before {
  background-color: $gray-300;
}

input.radio-input:checked + label {
  box-shadow: $form-check-shadow !important;
  background-color: theme-color("secondary");
}

input.radio-input:checked + label:before {
  background-color: $white;
  transform: scale(1);
}

// radio-input xs

input.form-control-xs.radio-input + label {
  width: $form-check-height-xs;
  height: $form-check-height-xs;
}

// radio-input sm

input.form-control-sm.radio-input + label {
  width: $form-check-height-sm;
  height: $form-check-height-sm;
}

// radio-input md

input.form-control-md.radio-input + label {
  width: $form-check-height-md;
  height: $form-check-height-md;
  box-shadow: inset 0 0 0 3px $gray-700;
}

// radio-input lg

input.form-control-lg.radio-input + label {
  width: $form-check-height-lg;
  height: $form-check-height-lg;
  box-shadow: inset 0 0 0 3px $gray-700;
}

// radio-input-label

.radio-input-label {
  align-self: flex-start;
}

// disabled

.radio-input:disabled + .radio-input-label {
  opacity: .5;
  pointer-events: none;

  &:hover {
    cursor: not-allowed;
  }
}

// radio label

.form-group .radio-input-label,
.form-check .radio-input-label {
  margin-right: .4rem;
}
