// Badge

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/badge";

//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  background-color: $orange;
  color: $white;
  text-shadow: $text-shadow;
  vertical-align: middle;
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.badge-warning {
  color: $white;
}

.badge-light {
  background-color: $gray-500;
  text-shadow: none;
}

.badge-alert,
.btn .badge-alert {
  position: absolute;
  top: -5px;
  right: -6px;
  border-radius: $round;
}

@media (max-width: 1024px) {
  .btn-nav .badge-alert {
    top: -2px;
    right: -7px;
  }
}

.nav-link .badge-alert {
  font-size: .625rem;
  top: 1px;
  right: 1px;
}

.list-group-item .badge {
  position: relative;
  left: .25rem;
  top: -.5rem;
}

// tiny indicator used with avatar-initials

.badge-indicator {

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    width: .5rem;
    height: .5rem;
    border-radius: 1rem;
    background-color: theme-color("warning");
  }
  &.avatar-initials-xs::after {
    top: -1px;
    right: -1px;
    width: .375rem;
    height: .375rem;
  }
  &.avatar-initials-sm::after {
    top: -1px;
    right: -1px;
  }
  &.avatar-initials-lg::after {
    top: 3px;
    right: 3px;
    width: .75rem;
    height: .75rem;
  }
}
