// Badge

@import "~bootstrap/scss/mixins";

//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-flex;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  background-color: #a0a0a0;
  color: $badge-color;
  text-shadow: $text-shadow;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius();

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
  line-height: 10px;
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.badge-warning {
  color: $white;
}

// Quick fix for badges in buttons, or location specific badges
.badge-inline {
  position: relative;
  top: -1px;
  margin-left: .25rem;
}

.badge-alert {
  position: absolute;
  top: -5px;
  right: -6px;
  border-radius: $round;
}

@media (max-width: 1024px) {
  .btn-nav .badge-alert {
    top: -2px;
    right: -7px;
  }
}

.nav-link .badge-alert {
  font-size: .625rem;
  top: 1px;
  right: 1px;
}

.list-group-item .badge {
  position: relative;
  left: .25rem;
  top: -.5rem;
}
