// SideNav Container
//
// Scrollable content area inside main-container

.sidenav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  flex-wrap: nowrap;
  height: 100%;
  border-right: 1px solid $gray-500;
  transition: margin $transition;
}

.offcanvas-left .sidenav-container {
  margin-right: 2.5rem;
}

.sidenav-header .btn-sidenav-close {
  padding: .5rem;
  transition: transform $transition;
}

.offcanvas-left .btn-sidenav-close {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

// Move sidenav-container offcanvas

.offcanvas-left {
  z-index: 10;
  margin-left: -$offcanvas-desktop-margin;
}

@media (max-width: 767px) {
  .offcanvas-left {
    margin-left: -$offcanvas-width;
  }
  .offcanvas-left + .main-container > .page-header .page-title {
    margin-left: 1.75rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .offcanvas-left {
    margin-left: -$offcanvas-desktop-margin;
  }
}