//
// btn-link-bg
//

// Make a button look and behave like a link but have a solid hover

.btn-link-bg {
  color: $link-color;
  border-color: transparent;
  background-color: transparent;
  box-shadow: $shadow-depth-0;
}

.btn-link-bg:hover,
.btn-link-bg.active {
  color: $link-color;
  border-color: transparent;
  background-color: $gray-400;
}
