//
// btn-outline
//

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value, #fff);
  }
}

// btn-outline-light overrides since color and border are too light

.btn-outline-light {
  color: $body-color;
  background-color: #fff;
  border: $input-btn-border-width solid $gray-700;

  &:hover,
  &:focus {
    color: $body-color;
    background-color: $gray-400;
    border: $input-btn-border-width solid $gray-700;
    box-shadow: none;
  }
  &:active,
  &.active {
    color: $body-color !important;
    background-color: $gray-500;
    border: $input-btn-border-width solid $gray-700 !important;
  }
}

.btn-outline-light:not(.dropdown-toggle):not([disabled]):not(.disabled).active {
  color: $white !important;
  background-color: theme-color("secondary");
  border: $input-btn-border-width solid darken(theme-color("secondary"), 3%) !important;;
}

.show > .btn-outline-light.dropdown-toggle {
  color: $body-color;
  background-color: $white;
  border-color: $gray-700;

  &:hover {
    background-color: $gray-400;
    border-color: $gray-700;
    box-shadow: none;
  }

  &:focus {
    background-color: $white;
    border-color: $gray-700;
    box-shadow: none;
  }
}
