//
// btn-hover
//

// Make a button look and behave like a link but change opacity on hover
// Mostly used for icons
// Default btn- and btn-utline are the same styles for now

.btn-hover,
.btn-outline-hover {
  color: $body-color;
  opacity: .625;
  border-color: transparent !important;
  background-color: transparent;
  box-shadow: $shadow-depth-0;
}

.btn-hover:hover,
.btn-hover.active,
.btn-outline-hover:hover,
.btn-outline-hover.active {
  opacity: 1;
  border-color: transparent !important;
  background-color: transparent;
}

.btn-hover:hover,
.btn-hover.active {
  box-shadow: $shadow-depth-0 !important;
}
