//
// btn-toggler
//

.btn-toggler {
  // margin-left: -.625rem;
  padding-left: 1.75rem;
  background-color: transparent;
  border-color: transparent;
  box-shadow: $shadow-depth0;
}

.card-header .btn-toggler {
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
}

.btn-toggler::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: transform $transition;
  opacity: .5;
  background: transparent url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3e%3cpath d='M13.207 8.472l-7.854 7.854-.707-.707 7.146-7.146-7.146-7.148.707-.707 7.854 7.854z' fill='%23000000'/%3e%3c/svg%3e") center center / auto 14px no-repeat;
  transform: rotate(90deg);
}

.btn-toggler.active::before {
  transform: rotate(-90deg);
}

.btn-toggler:hover::after,
.btn-toggler:hover::before {
  opacity: 1;
}

.btn-toggler:hover,
.btn-toggler.active {
  color: $body-color;
  border-color: transparent;
  background-color: transparent;
  text-shadow: none;
}
