//
// btn-outline-text
//

@mixin button-outline-text-variant($color, $color-hover: #fff) {
  color: $color;
  background: $white;
  background-image: none;
  border-color: $gray-700;

  @include hover {
    color: $color;
    background: $gray-400;
    border-color: $gray-700;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background: transparent;
    border-color: $gray-500;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color;
    background: $gray-400;
    border-color: $gray-700;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-text-#{$color} {
    @include button-outline-text-variant($value, #fff);
  }
}

// btn-outline-text-light overrides since color and border are too light

.btn-outline-text-light {
  color: $body-color;

  &:hover,
  &:focus {
    color: $body-color;
  }
  &:active,
  &.active {
    color: $body-color;
  }
}

