//
// btn-hover-bg
//

// Make a button look and behave like a link but show a bg on hover
// Active state used for selecting list items or form items

.btn-hover-bg {
  border-color: transparent;
  background-color: transparent;
  box-shadow: $shadow-depth-0;

  &:hover,
  &.active {
    border-color: transparent;
    background-color: $gray-300;
  }
}


//
// btn-outline-hover-bg
//

// Make a button look and behave like an outline button but show a bg on hover

.btn-outline-hover-bg {
  border-color: transparent;
  background-color: transparent;
  box-shadow: $shadow-depth-0;

  &:hover,
  &.active {
    border-color: $gray-300;
    background-color: $gray-300;
  }
}

