// Button

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/buttons";

//
// Base styles
//

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: $shadow-depth-0;

  .screen-primary-actions & {
    box-shadow: $shadow-depth-3;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }

  &.d-block {
    margin-right: 0;
  }

  .checkbox-input-button & {
    text-transform: none;
  }

  .checkbox-input:checked + .checkbox-input-button & {
    color: $white !important;
    background: theme-color("secondary");
    border-color: darken(theme-color("secondary"), 5%);
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    border-color: darken($value, 5%);
  }
  .btn-outline-#{$color} {
    &:hover,
    &:focus {
      border-color: darken($value, 5%);
    }
  }
}

.btn-default {
  box-shadow: none;
}


// instances to remove margin bottom

.card-header .btn,
.screen-header-container .btn,
.sidenav-header .btn,
.form-inline .btn,
.modal-footer .btn,
.btn-group .btn,
.input-group-btn .btn {
  margin-bottom: 0;
}

.input-group .btn {
  margin: 0;
  min-height: 100%;
}

//
// Alternate buttons
//

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-outline-warning:hover,
.btn-outline-warning:focus {
  color: #fff;
}

// btn-light overrides

.btn-light {
  color: $body-color;
  background-color: $body-bg;
  border-color: $gray-700;

  &:hover,
  &:focus {
    background-color: $gray-400;
    border-color: $gray-700;
  }

  &:active,
  &.active {
    background-color: $gray-500;
    border-color: $gray-700;
  }

  &.disabled,
  &:disabled {
    background-color: $gray-200;
    border-color: $gray-700;
  }
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: $gray-400;
  border-color: $gray-700;
}

.btn.disabled,
.btn.disabled:hover,
.btn:disabled,
.btn:disabled:hover {
  cursor: not-allowed;
  box-shadow: $shadow-depth-0;
  pointer-events: none;
}

// btn-outline-light overrides since color and border are too light

.btn-outline-light {
  color: $body-color;
  background: $white;
  border: $input-btn-border-width solid $gray-700;

  &:hover,
  &:focus {
    color: $body-color;
    background: $gray-400;
    border: $input-btn-border-width solid $gray-700;
  }
  &:active,
  &.active {
    color: $body-color !important;
    background: $gray-500;
    border: $input-btn-border-width solid $gray-700 !important;
  }

  &.disabled,
  &:disabled {
    color: $body-color;
    background-color: $white;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    background-color: $white;
  }
}

.btn-light:not(.dropdown-toggle):not([disabled]):not(.disabled).active,
.btn-outline-light:not(.dropdown-toggle):not(:disabled):not(.disabled).active,
.btn-secondary:not(.dropdown-toggle):not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(.dropdown-toggle):not(:disabled):not(.disabled).active {
  color: $white !important;
  background-color: theme-color("secondary");
  border: $input-btn-border-width solid darken(theme-color("secondary"), 5%) !important;;
}

.show > .btn-outline-light.dropdown-toggle {
  color: $body-color;
  background-color: $white;
  border-color: $gray-700;

  &:hover {
    background-color: $gray-400;
    border-color: $gray-700;
    box-shadow: none;
  }

  &:focus {
    background-color: $white;
    border-color: $gray-700;
    box-shadow: none;
  }
}


//
// Import Button Styles
//

@import "_btn-outline-text";
@import "_btn-link";
@import "_btn-link-bg";
@import "_btn-hover";
@import "_btn-hover-bg";
@import "_btn-toggler";


// todo: need to move to modal footer and check items

// Footer Buttons
//
// Most often useed with small modals and asides so that the buttons touch the edges

.modal-footer-buttons {
  padding: 0;
  justify-content: space-between;
}

.modal-footer-buttons .btn {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px 0 0 0 $gray-500;
  flex: 1;
}

.modal-footer-buttons .btn:last-child {
  box-shadow: none;
}

.footer-button.border-0 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-dialog:not(.modal-sm) .modal-footer-buttons .btn {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.modal-footer-buttons .btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: .2rem;
}

.modal-footer-buttons .btn:last-child {
  border-bottom-right-radius: .2rem;
}

// modal-footer fixes
.modal-footer.modal-footer-buttons {
  padding: 0;
}

.modal-footer.modal-footer-buttons .btn {
  margin: 0;
}

.btn-tab,
.btn-table {
  padding-right: $table-cell-padding;
  padding-left: $table-cell-padding;
}


//
// Button Sizes
//

.btn-xxs,
.btn-xs,
.btn-sm {
  font-weight: 400;
}

.btn-lg {
  font-weight: $btn-font-weight;
}

.btn-xl {
  font-size: 1.25rem;
  font-weight: $btn-font-weight;
  padding: 1.25rem 3rem;
  line-height: 1.8;
}


//
// radius parameter: round, square, circle
//

.btn-radius-round {
  border-radius: $round;
  padding-left: $input-btn-padding-x + .25rem;
  padding-right: $input-btn-padding-x + .25rem;

  &.btn-sm {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .checkbox-input-button &.btn {
    padding-left: 1rem;
    padding-right: .75rem;
  }

  .checkbox-input-button &.btn-sm {
    padding-left: .675rem;
    padding-right: .5rem;
  }

  .checkbox-input-button &.btn-lg {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}

.btn-radius-none {
  border-radius: 0;
}

.btn-radius-circle {
  width: $button-round-height;
  height: $button-round-height;
  padding: 0;
  letter-spacing: 0;
  border-radius: $round;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn-xxs {
    width: $button-round-height-xxs;
    height: $button-round-height-xxs;
  }
  &.btn-xs {
    width: $button-round-height-xs;
    height: $button-round-height-xs;
  }
  &.btn-sm {
    width: $button-round-height-sm;
    height: $button-round-height-sm;
  }
  &.btn-md {
    width: $button-round-height-md;
    height: $button-round-height-md;
  }
  &.btn-lg {
    width: $button-round-height-lg;
    height: $button-round-height-lg;
  }
  &.btn-xl {
    width: $button-round-height-xl;
    height: $button-round-height-xl;
  }
}


// Show dropdown-menu on hover

.btn-radius-circle + .dropdown-menu:hover {
  // display: block;
}

.btn-radius-circle:hover + .dropdown-menu {
  // display: block;
}


// Close Button

.btn-close {
  position: absolute;
  top: .25rem;
  right: .25rem;
}


// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// scss-lint:disable QualifyingElement
button.close {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
// scss-lint:enable QualifyingElement
