// Button

@import "~bootstrap/scss/mixins";

//
// Base styles
//

.btn {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  color: $body-color;
  background-color: $gray-400;
  border: $input-btn-border-width solid $gray-400;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value, #fff);
  }
}

// btn-outline-light overrides since color and border are too light

.btn-outline-light {
  color: $body-color;
  background-color: #fff;
  border: $input-btn-border-width solid $gray-700;

  &:hover,
  &:focus {
    color: $body-color;
    background-color: $gray-600;
    border: $input-btn-border-width solid $gray-700;
  }
  &:active,
  &.active {
  color: $body-color;
  border-color: $gray-700;
}
}

.show > .btn-outline-light.dropdown-toggle {
  color: $body-color;
  background-color: $gray-400;
  border-color: $gray-400;

  &:hover,
  &:focus {
    background-color: $gray-400;
    border-color: $gray-400;
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
    box-shadow: none;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    color: $btn-link-disabled-color;

    @include hover-focus {
      text-decoration: none;
    }
  }
}


//
// Button Sizes
//

.btn-sm {
  font-weight: 400;
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}

.btn-xl {
  font-size: 1.25rem;
  padding: 1.5rem 2rem;
  border-width: 2px;
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


// Custom Styles
//

.btn:last-child {
  margin-right: 0;
}

.card-header .btn,
.page-header .btn,
.sidenav-header .btn {
  margin-bottom: 0;
}

.btn:hover,
a:not([href]):not([tabindex]),
.nav-link:hover {
  cursor: pointer;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus {
  color: #fff;
}

.btn.disabled,
.btn.disabled:hover {
  border-color: $gray-400;
  background-color: $gray-400;
  color: $text-muted;
  cursor: not-allowed;
}


// Border versions: round, square, circle

.btn-radius-round {
  margin-right: .35rem;
  border-radius: $round;
}

.btn-radius-round span:not(.badge-alert) {
  margin: 0 .25rem;
  vertical-align: middle;
}

.btn-radius-none {
  border-radius: 0;
}

.btn-radius-circle {
  width: 2.125rem;
  height: 2.125rem;
  padding: 0;
  letter-spacing: 0;
  border-radius: $round;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


// Show dropdown-menu on hover

.btn-radius-circle + .dropdown-menu:hover {
  display: block;
}

.btn-radius-circle:hover + .dropdown-menu {
  display: block;
}


// Toggle Button style

.btn-toggle {
  margin-left: -.625rem;
  padding-left: 1.75rem;
  background-color: transparent;
  border-color: transparent;
}

.card-header .btn-toggle {
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
}

.btn-toggle::before {
  position: absolute;
  top: 15%;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: transform $transition;
  opacity: .5;
  background: transparent url('#{$icons-folder}angle-right.svg?fill=%23#{$icon-theme-light}') center center / auto 14px no-repeat;
}

.btn-toggle.active::before {
  transform: rotate(90deg);
}

.btn-toggle:hover::after,
.btn-toggle:hover::before {
  opacity: 1;
}

.btn-toggle:hover,
.btn-toggle.active {
  color: $body-color;
  border-color: transparent;
  background-color: transparent;
  text-shadow: none;
}


// img sizes in buttons, usually for svg icons

.btn img {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0 0.125rem;
}

.btn-sm img {
  width: 1rem;
}

.btn-lg img {
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: text-top;
}

.btn-xl img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-top;
}

// btn-group btn-light overrides

.btn-group > .btn-light {
  border-color: $gray-700;
}


// link-bg, outline-link, outline-link-bg, hover, outline-hover, hover-bg, outline-hover-bg Button

.btn-link-bg {
  color: $link-color;
  border-color: transparent;
  background-color: transparent;
}

.btn-link-bg:hover,
.btn-link-bg.active {
  color: $link-color;
  border-color: transparent;
  background-color: $gray-400;
}

.btn-outline-link {
  background-color: transparent;
  border-color: transparent;
}

.btn-outline-link:hover,
.btn-outline-link.active {
  border-color: $gray-600;
}

.btn-hover,
.btn-outline-hover {
  opacity: .6;
  border-color: transparent;
  background-color: transparent;
}

.btn-hover:hover,
.btn-hover.active,
.btn-outline-hover:hover,
.btn-outline-hover.active {
  opacity: 1;
  border-color: transparent;
  background-color: transparent;
}

.btn-hover-bg {
  border-color: transparent;
  background-color: transparent;
}

.btn-hover-bg:hover {
  border-color: transparent;
  background-color: $gray-400;
}

.btn-hover-bg.active {
  color: $white;
  border-color: theme-color("primary");
  background-color: theme-color("primary");
}

.btn-outline-hover-bg {
  border-color: transparent;
  background-color: transparent;
}

.btn-outline-hover-bg:hover,
.btn-outline-hover-bg.active {
  border-color: $gray-400;
  background-color: $gray-400;
}


// Footer Buttons
//
// Most often useed with small modals and asides so that the buttons touch the edges

.footer-buttons {
  padding: 0;
  justify-content: space-between;
}

.footer-buttons .btn {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px 0 0 0 $gray-500;
  flex: 1;
}

.footer-buttons .btn:last-child {
  box-shadow: none;
}

.footer-button.border-0 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-dialog:not(.modal-sm) .footer-buttons .btn {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.footer-buttons .btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: .2rem;
}

.footer-buttons .btn:last-child {
  border-bottom-right-radius: .2rem;
}

// modal-footer fixes
.modal-footer.footer-buttons {
  padding: 0;
}

.modal-footer.footer-buttons .btn {
  margin: 0;
}


// todo: need to check these

.btn-close {
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.btn-tab,
.btn-table {
  padding-right: $table-cell-padding;
  padding-left: $table-cell-padding;
}
