// list-group

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/list-group";

// Custom Classes

.list-group-item {
  justify-content: space-between;
  flex: 0 0 auto;

  &.active,
  &:active {
    color: $body-color;
  }
}

.list-group-item-text {
  opacity: .8;
}

.list-group-item-heading + .list-group-item-text {
  width: 100%;
}


// list-group-nav styles

.list-group-nav {
  flex-shrink: 0;
}

.list-group-nav .list-group-item {
  padding: 0;
  background-color: transparent;
}

.list-group-nav .list-group-item a {
  display: block;
  font-size: .9rem;
  color: $gray-900;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 1.25rem;

  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: inset 3px 0 0 $gray-700;
  }
}

.list-group-nav .list-group-item {
  border: none;
  cursor: pointer;
}

.list-group-nav .list-group-item::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(100% - 1.25rem);
  margin-left: 1.25rem;
  content: '';
  border-top: 1px solid rgba(0, 0, 0, .0625);
}

.list-group-nav .list-group-item.active {
  color: $body-color;
  background-color: $gray-300;
}

.list-group-nav .list-group-item.active::before {
  z-index: 1;
  width: 3px;
  height: 100%;
  margin-left: 0;
  background-color: theme-color("primary");
}


// Borderless
//
// Remove top and bottom borders and border-radius to keep list group items edge-to-edge.

.list-group-borderless {
  .list-group-item {
    border: 0;
    border-radius: 0;
  }

  .list-group-item::before {
    border: none;
  }
}


// For Roles Page, TODO: move to be associated with Roles component

.list-group-item-roles {
  display: flex;
  border: none;
  margin: 0;
  min-height: $header-height;
  padding-right: .5rem;
  padding-left: $padding-xs;
  border-bottom: 1px solid $gray-200;

  @media (min-width: 768px) {
    padding-left: $padding-md;
  }
  @media (min-width: 1025px) {
    padding-left: $padding-lg;
  }
  @media (min-width: 1600px) {
    padding-left: $padding-xl;
  }
}

.list-group-item-roles:last-child {
  border-bottom: none;
}
