// Header Display
//
// Used most often with jumbotron

.header-display {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;
}

.header-display-title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}

.bg-inverse .header-display-title {
  color: $white;
}