// Cards Container
//
// Used to set a specific appearance for a large collection of cards
// Currently sets a padding equal to a standard col but functions like a row
// also setting a tighter padding on inner col items

.cards-container {
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 1rem 1.25rem .75rem 1.25rem;
  background-color: $gray-300;

  & [class*=' col-'] {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  & > .row {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
}
