//
// switch-input
//

input.switch-input {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  margin: 0 !important;
  opacity: 0;
  -webkit-appearance: none;
}

input.switch-input + label {
  width: 2.625rem;
  height: 1.5rem;
  border-radius: $round;
  background-color: $gray-700;
  cursor: pointer;
}

input.switch-input + label:before,
input.switch-input + label:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: $transition;
  border-radius: $round;
  background: transparent;
}

input.switch-input + label:after {
  background: $white;
  border: 2px solid transparent;
  background-clip: padding-box;
}

input.switch-input.form-control-md + label:after,
input.switch-input.form-control-lg + label:after {
  border: 3px solid transparent;
}

input.switch-input:checked + label:after {
  left: 100%;
  transform: translateX(-100%);
}

// switch-input xs

input.switch-input.form-control-xs + label {
  width: 21px;
  height: 13px;
}

input.switch-input.form-control-xs + label:before,
input.switch-input.form-control-xs + label:after {
  width: 13px;
  height: 13px;
}

// switch-input sm

input.switch-input.form-control-sm + label {
  width: 1.75rem;
  height: 1rem;
}

input.switch-input.form-control-sm + label:before,
input.switch-input.form-control-sm + label:after {
  width: 1rem;
  height: 1rem;
}

// switch-input md

input.switch-input.form-control-md + label {
  width: 3.5rem;
  height: 2rem;
}

input.switch-input.form-control-md + label:before,
input.switch-input.form-control-md + label:after {
  width: 2rem;
  height: 2rem;
}

// switch-input lg

input.switch-input.form-control-lg + label {
  width: 4.375rem;
  height: 2.5rem;
}

input.switch-input.form-control-lg + label:before,
input.switch-input.form-control-lg + label:after {
  width: 2.5rem;
  height: 2.5rem;
}

// switch-input adjustments

.form-check-label > .switch-input + label {
  margin-left: 0;
}

.form-check-label > .switch-input + label {
  margin-right: .5rem;
}

.form-check-label > .switch-input.form-control-xs + label,
.form-check-label > .switch-input.form-control-sm + label {
  margin-right: .25rem;
}

.form-check-label > .switch-input.form-control-md + label,
.form-check-label > .switch-input.form-control-lg + label {
  margin-right: .75rem;
}

input.switch-input + label {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  transition: $transition;
  vertical-align: middle;
  text-indent: -5000px;
}

input.switch-input[disabled] + label {
  opacity: .5;

  &:hover {
    cursor: not-allowed;
  }
}

input.switch-input.form-control-xs + label,
input.switch-input.form-control-sm + label {
  vertical-align: text-bottom;
}

input.switch-input:checked + label:before {
  width: 100%;
  background: theme-color("secondary");
}

// switch label

.form-group .switch-input-label,
.form-check .switch-input-label {
  margin-right: .5rem;
}
