//
// switch-input
//

$form-check-width-ratio: 1.75;

input.switch-input {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  margin: 0 !important;
  opacity: 0;
  -webkit-appearance: none;
}

input.switch-input + label {
  height: $form-check-height;
  min-width: $form-check-height * $form-check-width-ratio;
  border-radius: $round;
  background-color: $gray-700;
  cursor: pointer;
  flex-direction: column;
}

input.switch-input + label:before,
input.switch-input + label:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: $form-check-height;
  height: $form-check-height;
  content: '';
  transition: $transition;
  border-radius: $round;
  background: transparent;
}

input.switch-input + label:after {
  background: $white;
  border: 2px solid transparent;
  background-clip: padding-box;
}

input.switch-input.form-control-md + label:after,
input.switch-input.form-control-lg + label:after {
  border: 3px solid transparent;
}

input.switch-input:checked + label:after {
  left: 100%;
  transform: translateX(-100%);
}

// Infix labels

//

.switch-input + label span {
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;
  padding: 0 $form-check-height/2 0 ($form-check-height + .125rem);
  height: $form-check-height;
  line-height: $form-check-height;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  text-indent: 0;
  opacity: 1;
  transition: opacity $transition;

  &:last-child {
    padding: 0 ($form-check-height + .125rem) 0 $form-check-height/2;
    margin-top: -$form-check-height;
    color: $white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    opacity: 0;
  }
}

.switch-input:checked + label span {
  opacity: 0;

  &:last-child {
    opacity: 1;
  }
}


// switch-input xs

input.switch-input.form-control-xs + label {
  height: $form-check-height-xs;
  min-width: $form-check-height-xs * $form-check-width-ratio;

  &:before,
  &:after {
    width: $form-check-height-xs;
    height: $form-check-height-xs;
  }
}

.switch-input.form-control-xs + label span {
  padding: 0 $form-check-height-xs/2 0 ($form-check-height-xs + .125rem);
  height: $form-check-height-xs;
  line-height: $form-check-height-xs;
  font-size: .5rem;

  &:last-child {
    padding: 0 ($form-check-height-xs + .125rem) 0 $form-check-height-xs/2;
    margin-top: -$form-check-height-xs;
  }
}

// switch-input sm

input.switch-input.form-control-sm + label {
  height: $form-check-height-sm;
  min-width: $form-check-height-sm * $form-check-width-ratio;

  &:before,
  &:after {
    width: $form-check-height-sm;
    height: $form-check-height-sm;
  }
}

.switch-input.form-control-sm + label span {
  padding: 0 $form-check-height-sm/2 0 ($form-check-height-sm + .125rem);
  height: $form-check-height-sm;
  line-height: $form-check-height-sm;
  font-size: .675rem;

  &:last-child {
    padding: 0 ($form-check-height-sm + .125rem) 0 $form-check-height-sm/2;
    margin-top: -$form-check-height-sm;
  }
}

// switch-input md

input.switch-input.form-control-md + label {
  height: $form-check-height-md;
  min-width: $form-check-height-md * $form-check-width-ratio;

  &:before,
  &:after {
    width: $form-check-height-md;
    height: $form-check-height-md;
  }
}

.switch-input.form-control-md + label span {
  padding: 0 $form-check-height-md/2 0 ($form-check-height-md + .125rem);
  height: $form-check-height-md;
  line-height: $form-check-height-md;
  font-size: .8rem;

  &:last-child {
    padding: 0 ($form-check-height-md + .125rem) 0 $form-check-height-md/2;
    margin-top: -$form-check-height-md;
  }
}

// switch-input lg

input.switch-input.form-control-lg + label {
  height: $form-check-height-lg;
  min-width: $form-check-height-lg * $form-check-width-ratio;

  &:before,
  &:after {
    width: $form-check-height-lg;
    height: $form-check-height-lg;
  }
}

.switch-input.form-control-lg + label span {
  padding: 0 $form-check-height-lg/2 0 ($form-check-height-lg + .125rem);
  height: $form-check-height-lg;
  line-height: $form-check-height-lg;
  font-size: .875rem;

  &:last-child {
    padding: 0 ($form-check-height-lg + .125rem) 0 $form-check-height-lg/2;
    margin-top: -$form-check-height-lg;
  }
}


// switch-input adjustments

.form-check-label > .switch-input + label {
  margin-left: 0;
}

.form-check-label > .switch-input + label {
  margin-right: .5rem;
}

.form-check-label > .switch-input.form-control-xs + label,
.form-check-label > .switch-input.form-control-sm + label {
  margin-right: .25rem;
}

.form-check-label > .switch-input.form-control-md + label,
.form-check-label > .switch-input.form-control-lg + label {
  margin-right: .75rem;
}

input.switch-input + label {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  transition: $transition;
  vertical-align: middle;
  text-indent: -5000px;
}

input.switch-input[disabled] + label {
  opacity: .5;

  &:hover {
    cursor: not-allowed;
  }
}

input.switch-input.form-control-xs + label,
input.switch-input.form-control-sm + label {
  vertical-align: text-bottom;
}

input.switch-input:checked + label:before {
  width: 100%;
  background: theme-color("secondary");
  box-shadow: $form-check-shadow;
}


// switch label

.form-group .switch-input-label,
.form-check .switch-input-label {
  margin-right: .5rem;
}
