// Screen
//

// Screen Variables
$sidenav-width:     300px;


.screen {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  // height: 100%;
  min-height: 0;
}

// screen-sidenav

.screen-sidenav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 $sidenav-width;
  transition: margin $transition;
  width: $sidenav-width;
  border-right: 1px solid $gray-600;
  background-color: $white;

  &.offcanvas-left {
    z-index: $zindex-fixed;
    margin-left: -$sidenav-width + 38;

    @media (max-width: 767px) {
      margin-left: -$sidenav-width;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      margin-left: -$sidenav-width + 38;
    }
  }
}

// screen-sidenav-header

.screen-sidenav-header {
  position: relative;
  font-size: 1em;
  display: flex;
  width: 100%;
  min-height: $header-height + 8;
  margin: 0;
  padding-left: $padding-xs;
  transition: width $transition;
  letter-spacing: -.015rem;
  border-bottom: 1px solid $gray-700;
  background-color: $white;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;
  box-shadow: $shadow-depth-2;
  z-index: $zindex-dropdown - 1;
  transition: box-shadow $transition, border-bottom $transition;


  .offcanvas-left & {

    @media (max-width: 767px) {
    left: 0;
    margin-right: -1px;
    width: calc(299px + 2.125rem);
    border-right: 1px solid $gray-rgba-300;
    background: transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    }
  }
}

.screen-sidenav-header-title {
  font-size: 1em;
  margin: 0;
}

.screen-sidenav-toggler {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0;
  padding: .5rem;
  border: none;
  height: 100%;
  width: 37px;
  transition: transform $transition;
}

.screen-sidenav-toggler-img {
  margin: 0 !important;
}

.offcanvas-left .screen-sidenav-toggler-img {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

// screen-sidenav-body

.screen-sidenav-body {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  padding-bottom: $padding-content-bottom;
  min-height: 0;
  width: auto;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;

  .offcanvas-left & {
    margin-right: 50px;
  }
}

// screen-main

.screen-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  margin: 0;
  width: 100%;
  min-height: 0;

  @media (min-width: 768px) {
    .screen-sidenav + & {
      width: calc(100% - 300px);
    }

    .screen-sidenav.offcanvas-left + & {
      width: calc(100% - 38px);
    }
  }
}

@media (max-width: 767px) {
  .screen-main {
    max-width: 100vw;
    flex: 1 1 auto;
  }
}

// Page Header

.screen-header-container {
  display: flex;
  min-height: $header-height + 8;
  padding-top: .125rem;
  padding-right: $padding-xs;
  padding-bottom: .25rem;
  padding-left: $padding-xs;
  border-bottom: 1px solid $gray-700;
  border-radius: 0 !important;
  background-color: $white;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: $shadow-depth-2;
  z-index: $zindex-dropdown + 1;

  @media (max-width: 767px) {
    transition: margin $transition;
    width: 100vw;

    // todo: mobile header scrolls horizontally or will have to reduce to smaller nav
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      height: 0;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        background: $gray-500;
    }
  }
  @media (min-width: 768px) {
    padding-right: $padding-md;
    padding-left: $padding-md;
  }
}

.screen-header-title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 1rem;
  margin-bottom: 0;
  padding: .5rem 0;
  letter-spacing: .01em;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  & .breadcrumb {
    flex-wrap: nowrap;
  }

  & .breadcrumb-item:last-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .offcanvas-left + .screen-main .screen-header-title {
    margin-left: 1.75rem;
  }
}

.screen-primary-actions {
  flex: 0 0 auto;
  margin: .25rem 0 .25rem auto;

  & a:hover,
  & a:focus {
    text-decoration: none;
  }
}

.btn-primary-actions-toggle {
  display: none;
}

@media (min-width: 768px) {
  .screen-primary-actions-mobile {
    opacity: 1 !important;
  }
  .screen-primary-actions-mobile-body {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .btn-primary-actions-toggle {
    display: inline-flex;
  }
  .screen-primary-actions-mobile {
    position: fixed;
    background-color: rgba(41, 41, 41, 0.9);
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 2rem;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &.show {
      pointer-events: auto;
    }
  }
  .screen-primary-actions-mobile-body {
    position: relative;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 6.5rem);
  }
  .screen-primary-actions .screen-primary-actions-mobile .btn {
    margin: 0 0 1.5rem 0;
    border-radius: 10rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.8;
    flex-shrink: 0;
  }
  .screen-primary-actions-mobile-close {
    position: fixed;
    top: 2.5rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3e%3cpath d='M12 13.413L1.706 23.707a1 1 0 0 1-1.413-1.413L10.587 12 .293 1.706A1 1 0 1 1 1.706.293L12 10.587 22.294.293a1 1 0 1 1 1.413 1.413L13.413 12l10.294 10.294a1 1 0 1 1-1.413 1.413L12 13.413z' fill='#fff' /%3e%3c/svg%3e");
    background-position: top 1rem right 1rem;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }
}

// Screen Body

.screen-body-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;

  @media (max-width: 767px) {
    width: 100vw;
  }
}

.screen-body {
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}

.screen-body-content {
  padding: 0 .5rem $padding-content-bottom .5rem;
  margin: .5rem auto;

  @media (min-width: 421px) {
    padding: 0 .75rem $padding-content-bottom .75rem;
    margin: .75rem auto;
  }
  @media (min-width: 600px) {
    padding: 0 $padding-xs $padding-content-bottom $padding-xs;
    margin: $padding-xs auto;
  }
  @media (min-width: 768px) {
    padding: 0 $padding-sm $padding-content-bottom $padding-sm;
    margin: $padding-sm auto;
  }
  @media (min-width: 1025px) {
    padding: 0 $padding-md $padding-content-bottom $padding-md;
    margin: $padding-md auto;
  }
}

.screen-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  transition: margin $transition;
  width: 360px;
  background-color: $white;
  border-left: 1px solid $gray-600;

  @media (max-width: 420px) {
    width: calc(100vw - 25px);
  }

  @media (max-width: 1023px) {
    position: fixed;
    margin: 0;
    top: 6rem;
    bottom: 0;
    left: auto;
    right: 0;
    min-height: calc(100vh - 6rem);
    border-top: 1px solid $border-color;
    flex: 1 0 auto;
    transform: translateX(100%);
    transition: transform $transition;
    z-index: $zindex-fixed;

    &.screen-sidebar-is-open {
      transform: translateX(0);
      box-shadow: $shadow-depth-2;
    }
  }
}

.screen-sidebar-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  width: 100%;
  height: 100%;
  padding-bottom: 0;

  & > div:not([class]) {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
  }
}

.screen-sidebar-toggler {
  position: absolute;
  bottom: .25rem;
  right: 360px;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: $shadow-depth-5;

  @media (max-width: 420px) {
    right: auto;
    left: -50px;

    .screen-sidebar-is-open & {
      right: auto;
      left: -24px;
      z-index: 4;
    }
  }

  &:focus {
    box-shadow: $shadow-depth-5 !important;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  & span {

    .screen-sidebar-is-open & {
      transform: rotate(-180deg);
    }
  }
}

.screen-navtabs {
  background-color: $white;
  box-shadow: $shadow-depth-2;
  padding-top: .5rem;
  z-index: $zindex-sticky + 1;
}

// chat collaborators

.screen-primary-actions-collaborators:not(:empty) {

  .screen-primary-actions-mobile-body & {
    text-align: center;
    margin-bottom: 1.75rem;

    @media (max-width: 767px) {
      color: $white;

      &::before {
        content: 'Current Editors';
      }
    }
    @media (min-width: 768px) {
      margin-right: 2rem;
      margin-bottom: 0;
      text-align: right;
    }
    @media (min-width: 1024px) {
      margin-right: 3rem;
    }
  }


  td & {
    float: right;
    margin: 0 0 0 .75rem;
  }
}

.screen-primary-actions-collaborators:empty {
  display: none;
}