// Aside and Sidenav Content
//
// Container, styles, content, scrolling, and offcanvas arrow buttons

.offcanvas-left {
  z-index: 10;
  margin-left: -$offcanvas-desktop-margin;
}

.offcanvas-left .btn-header {
  padding-right: .6rem;
}

@media (max-width: 767px) {
  .offcanvas-left {
    margin-left: -$offcanvas-width;
  }
  .offcanvas-left + .main-container > .page-header .page-title {
    margin-left: 1.75rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .offcanvas-left {
    margin-left: -$offcanvas-desktop-margin;
  }
}

// offcanvas buttons associated with sidenav

.btn-header-close-sidenav {
  transition: transform $transition;
}

.offcanvas-left .btn-header-close-sidenav {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
