// breadcrumbs

// Breadcrumbs
//
// Styles for bootstrap breadcrumbs
//
// Custom Sizing
// $width-desktop-lg:        2.5rem;
// $width-desktop:             2rem;
// $width-tablet:            1.5rem;
// $width-mobile:              1rem;

.breadcrumb {
  margin-bottom: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: margin 250ms ease-in-out;
}

.breadcrumb a,
.breadcrumb-item a,
.breadcrumb-item.active {
  color: $gray-900;
}

.breadcrumb-item a:hover {
  color: darken($gray-900, 15%);
}

// inside breadcrumbs div - may never be used

.breadcrumbs {
  padding: 0 $width-mobile;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0;

  @media (min-width: 768px) {
    .breadcrumbs {
      padding: 0 $width-tablet;
    }
  }

  @media (min-width: 1600px) {
    .breadcrumbs {
      padding: 0 $width-desktop;
    }
  }
}

.breadcrumbs .breadcrumb {
  margin-bottom: 0;
  padding: 0;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

.breadcrumbs .breadcrumb a,
.breadcrumbs .breadcrumb-item a {
  color: $gray-800;
}

.breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  background: none;
  opacity: 1;
}

.breadcrumbs .breadcrumb-item.active {
  color: $gray-rgba-600;
}

.breadcrumbs .breadcrumb-item a:hover {
  color: darken($gray-800, 15%);
}
