// forms

.form-group {
  line-height: 1;
  margin-bottom: $padding-md;
}

.card-header .form-group {
  margin-bottom: 0;
}

.card-header form {
  display: inline-block;
}

.form-control + .form-control,
.input-group + .input-group {
  margin-top: 1.5rem;
}

.form-white .form-control,
.form-white.form-control {
  background-color: $body-bg;
}

.form-control-static {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.825rem;
  line-height: 1.25;
}

.form-control-lg.form-control-static {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.form-control-static{
  background-color: transparent;
  border-color: transparent;
}

input[type='text']:hover,
.form-control:hover,
.form-control.form-control-success:hover,
.form-control.form-control-warning:hover,
.form-control.form-control-danger:hover,
.form-control.form-control-info:hover {
  box-shadow: 0 1px 3px 0px $gray-rgba-200;
}

select:focus option:checked {
  background-color: theme-color("primary");
}

input[type='text']:focus,
.form-control:focus {
  background-color: $body-bg;
  box-shadow: 0 1px 3px 0px $gray-rgba-400;
}

.form-inline {
  margin: 0 -.25rem;
}

.form-inline .form-group {
  margin: 0 .125rem;
}

label:not(.form-check-label),
legend {
  font-size: .9em;
  font-weight: 600;
  margin-bottom: .75rem;
  text-transform: uppercase;
  color: $body-color;
}

legend {
  margin-bottom: 1.25rem;
}

.form-inline label,
.form-inline input,
.form-inline select,
.form-inline button {
  margin: 0 .125rem .5rem .125rem;
}

.form-group > label {
  margin-right: .375rem;
}

.form-inline > label,
.form-inline > input,
.form-inline > select,
.form-inline > button {
  margin: 0 .25rem .5rem .25rem;
}

.form-check-label {
  position: relative;
}

.form-control:not(.form-control-sm).round {
  padding-left: 1rem;
}

.form-check-input {
  margin-top: 0;
  margin-right: .5rem;
}

.col-form-legend {
  margin-bottom: .75rem;
}

label.col-form-label {
  margin-right: 0;
  margin-bottom: .25rem;
}

.form-check {
  margin-bottom: .75rem;
}

.form-control-feedback {
  line-height: 1.25rem;
  margin-top: .5rem;
}

.form-text {
  line-height: 1.25rem;
}

input::-moz-focus-inner {
  border: 0;
}

// Custom Checkboxes and Radio Buttons

// btn-checkbox buttons

input.btn-check {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  opacity: 0;
  -webkit-appearance: none;
}

input.btn-check + label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: $border-radius-lg;
  box-shadow: inset 0 0 0 2px $gray-700;
}

input.btn-check + label:before {
  position: absolute;
  top: .325rem;
  left: .25rem;
  width: 1rem;
  height: .55rem;
  content: '';
  transform: rotate(-45deg);
  border: 3px solid $gray-700;
  border-top: none;
  border-right: none;
  background: transparent;
}

input.btn-check + label:hover:before {
  border-color: $gray-700;
}

input.btn-check:checked + label {
  box-shadow: inset 0 0 0 2px theme-color("primary");
}

input.btn-check:checked + label:before {
  opacity: 1;
  border: 3px solid theme-color("primary");
  border-top: none;
  border-right: none;
}

// btn-checkbox xs

input.form-control-xs.btn-check + label {
  width: 13px;
  height: 13px;
}

input.form-control-xs.btn-check + label:before {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 5px;
  border-width: 2px;
}

// btn-checkbox sm

input.form-control-sm.btn-check + label {
  width: 1rem;
  height: 1rem;
}

input.form-control-sm.btn-check + label:before {
  top: .2rem;
  left: .25rem;
  width: .6rem;
  height: .35rem;
  border-width: 2px;
}

// btn-checkbox md

input.form-control-md.btn-check + label {
  width: 2rem;
  height: 2rem;
  box-shadow: inset 0 0 0 3px $gray-700;
}

input.form-control-md.btn-check + label:before {
  top: .45rem;
  left: .4rem;
  width: 1.2rem;
  height: .75rem;
  border-width: 4px;
}

input.form-control-md.btn-check:checked + label {
  box-shadow: inset 0 0 0 3px theme-color("primary");
}

// btn-checkbox lg

input.form-control-lg.btn-check + label {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: inset 0 0 0 3px $gray-700;
}

input.form-control-lg.btn-check + label:before {
  top: .6rem;
  left: .45rem;
  width: 1.6rem;
  height: .9rem;
  border-width: 6px;
}

input.form-control-lg.btn-check:checked + label {
  box-shadow: inset 0 0 0 3px theme-color("primary");
}

// btn-radio buttons

input.btn-radio {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  opacity: 0;
  -webkit-appearance: none;
}

input.btn-radio + label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: $round;
  box-shadow: inset 0 0 0 2px $gray-700;
}

input.btn-radio + label:before {
  position: absolute;
  top: .375rem;
  left: .375rem;
  display: block;
  width: .75rem;
  height: .75rem;
  margin-bottom: 0;
  content: '';
  transition: $transition;
  border-radius: $round;
  background-color: $gray-200;
}

input.btn-radio + label:hover:before {
  background-color: $gray-700;
}

input.btn-radio:checked + label {
  box-shadow: inset 0 0 0 2px theme-color("primary");
}

input.btn-radio:checked + label:before {
  background-color: theme-color("primary");
}

// btn-radio xs

input.form-control-xs.btn-radio + label {
  width: 13px;
  height: 13px;
}

input.form-control-xs.btn-radio + label:before {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
}

// btn-radio sm

input.form-control-sm.btn-radio + label {
  width: 1rem;
  height: 1rem;
}

input.form-control-sm.btn-radio + label:before {
  top: .25rem;
  left: .25rem;
  width: .5rem;
  height: .5rem;
}

// btn-radio md

input.form-control-md.btn-radio + label {
  width: 2rem;
  height: 2rem;
  box-shadow: inset 0 0 0 3px $gray-700;
}

input.form-control-md.btn-radio + label:before {
  top: .5rem;
  left: .5rem;
  width: 1rem;
  height: 1rem;
}

input.form-control-md.btn-radio:checked + label {
  box-shadow: inset 0 0 0 3px theme-color("primary");
}

// btn-radio lg

input.form-control-lg.btn-radio + label {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: inset 0 0 0 3px $gray-700;
}

input.form-control-lg.btn-radio + label:before {
  top: .55rem;
  left: .55rem;
  width: 1.4rem;
  height: 1.4rem;
}

input.form-control-lg.btn-radio:checked + label {
  box-shadow: inset 0 0 0 3px theme-color("primary");
}

// btn-toggle button

input.btn-toggle {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  opacity: 0;
  -webkit-appearance: none;
}

input.btn-toggle + label {
  width: 2.625rem;
  height: 1.5rem;
  border-radius: $round;
  background-color: $body-bg;
  box-shadow: inset 0 0 0 1px $gray-700;
}

input.btn-toggle + label:before,
input.btn-toggle + label:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: $transition;
  border-radius: $round;
  background: transparent;
}

input.btn-toggle + label:after {
  background: white;
  box-shadow: inset 0 0 0 1px $gray-rgba-600, 0 2px 4px $gray-rgba-600;
}

input.btn-toggle:checked + label:before {
  width: 2.625rem;
  background: theme-color("primary");
}

input.btn-toggle:checked + label:after {
  left: 1.125rem;
  box-shadow: inset 0 0 0 1px theme-color("primary"), 0 2px 4px $gray-rgba-600;
}

// btn-toggle xs

input.btn-toggle.form-control-xs + label {
  width: 21px;
  height: 13px;
}

input.btn-toggle.form-control-xs + label:before,
input.btn-toggle.form-control-xs + label:after {
  width: 13px;
  height: 13px;
}

input.btn-toggle + label:after {
  box-shadow: inset 0 0 0 1px $gray-rgba-600, 0 1px 3px $gray-rgba-600;
}

input.btn-toggle.form-control-xs:checked + label:before {
  width: 21px;
}

input.btn-toggle.form-control-xs:checked + label:after {
  left: 8px;
  box-shadow: inset 0 0 0 1px theme-color("primary"), 0 1px 3px $gray-rgba-600;
}

// btn-toggle sm

input.btn-toggle.form-control-sm + label {
  width: 1.75rem;
  height: 1rem;
}

input.btn-toggle.form-control-sm + label:before,
input.btn-toggle.form-control-sm + label:after {
  width: 1rem;
  height: 1rem;
}

input.btn-toggle.form-control-sm:checked + label:before {
  width: 1.75rem;
}

input.btn-toggle.form-control-sm:checked + label:after {
  left: .75rem;
}

// btn-toggle md

input.btn-toggle.form-control-md + label {
  width: 3.5rem;
  height: 2rem;
  box-shadow: inset 0 0 0 2px $gray-700;
}

input.btn-toggle.form-control-md + label:before,
input.btn-toggle.form-control-md + label:after {
  width: 2rem;
  height: 2rem;
}

input.btn-toggle.form-control-md + label:after {
  box-shadow: inset 0 0 0 2px $gray-rgba-600, 0 2px 4px $gray-rgba-600;
}

input.btn-toggle.form-control-md:checked + label:before {
  width: 3.5rem;
}

input.btn-toggle.form-control-md:checked + label:after {
  left: 1.5rem;
  box-shadow: inset 0 0 0 2px theme-color("primary"), 0 2px 4px $gray-rgba-600;
}

// btn-toggle lg

input.btn-toggle.form-control-lg + label {
  width: 4.375rem;
  height: 2.5rem;
  box-shadow: inset 0 0 0 2px $gray-700;
}

input.btn-toggle.form-control-lg + label:before,
input.btn-toggle.form-control-lg + label:after {
  width: 2.5rem;
  height: 2.5rem;
}

input.btn-toggle.form-control-lg + label:after {
  box-shadow: inset 0 0 0 2px $gray-rgba-600, 0 3px 6px $gray-rgba-600;
}

input.btn-toggle.form-control-lg:checked + label:before {
  width: 4.375rem;
}

input.btn-toggle.form-control-lg:checked + label:after {
  left: 2rem;
  box-shadow: inset 0 0 0 2px theme-color("primary"), 0 3px 6px $gray-rgba-600;
}

// btn-check, btn-radio, btn-toggle adjustments

.form-check-label > .btn-check + label,
.form-check-label > .btn-radio + label,
.form-check-label > .btn-toggle + label {
  margin-left: -1.25rem;
}

.form-check-label > .btn-check + label,
.form-check-label > .btn-radio + label,
.form-check-label > .btn-toggle + label {
  margin-right: .5rem;
}

.form-check-label > .btn-check.form-control-xs + label,
.form-check-label > .btn-check.form-control-sm + label,
.form-check-label > .btn-radio.form-control-xs + label,
.form-check-label > .btn-radio.form-control-sm + label,
.form-check-label > .btn-toggle.form-control-xs + label,
.form-check-label > .btn-toggle.form-control-sm + label {
  margin-right: .25rem;
}

.form-check-label > .btn-check.form-control-md + label,
.form-check-label > .btn-check.form-control-lg + label,
.form-check-label > .btn-radio.form-control-md + label,
.form-check-label > .btn-radio.form-control-lg + label,
.form-check-label > .btn-toggle.form-control-md + label .form-check-label > .btn-toggle.form-control-lg + label {
  margin-right: .75rem;
}

input.btn-check + label,
input.btn-radio + label,
input.btn-toggle + label {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  transition: $transition;
  vertical-align: middle;
  text-indent: -5000px;
}

input.btn-check[disabled] + label,
input.btn-radio[disabled] + label,
input.btn-toggle[disabled] + label {
  pointer-events: none;
}

input.btn-check.form-control-xs + label,
input.btn-check.form-control-sm + label,
input.btn-radio.form-control-xs + label,
input.btn-radio.form-control-sm + label,
input.btn-toggle.form-control-xs + label,
input.btn-toggle.form-control-sm + label {
  vertical-align: text-bottom;
}

// forms in page-header or card-header

.page-header form,
.card-header form {
  display: inline-block;
}

.page-header .form-group,
.card-header .form-group {
  margin-bottom: 0;
}

/*
  @fixme: temporarily fix a bootstarp input group bug
    when feedback immediately after a input group
    the invalid-feedback should show
 */
.input-group ~ .invalid-feedback {
  display: block;
}
