// List Group Standard Styles

.list-group-item-heading + .list-group-item-text {
  width: 100%;
}

.list-group-item {
  justify-content: space-between;
  flex: 0 0 auto;
}

.list-group-item-roles {
  display: flex;
  border: none;
  margin: 0;
  min-height: $header-height;
  padding-right: .5rem;
  padding-left: $width-mobile;
  border-bottom: 1px solid $gray-200;

  @media (min-width: 768px) {
    padding-left: $width-tablet;
  }
  @media (min-width: 1025px) {
    padding-left: $width-desktop;
  }
  @media (min-width: 1600px) {
    padding-left: $width-desktop-lg;
  }
}

.list-group-item-roles:last-child {
  border-bottom: none;
}

// list-group-nav styles

.scrollable-container .list-group-nav {
  padding-top: 1rem;
  margin-bottom: 1rem;
  background-color: $body-bg;
  border-bottom: 1px solid $gray-500;
}

.list-group-nav .list-group-item {
  border: none;
  cursor: pointer;
}

.list-group-nav .list-group-item::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(100% - 1.25rem);
  margin-left: 1.25rem;
  content: '';
}

.list-group-border .list-group-item::before {
  border-top: 1px solid rgba(0, 0, 0, .0625);
}

.list-group-nav .list-group-item.active {
  color: $body-color;
  background-color: $gray-300;
}

.list-group-nav .list-group-item.active::before {
  z-index: 1;
  width: 3px;
  height: 100%;
  margin-left: 0;
  background-color: theme-color("primary");
}

.list-group-item.active .list-group-item-text {
  opacity: .8;
}

.list-group-item .badge {
  position: relative;
  left: .25rem;
  top: -.5rem;
}