// Loading
//
// Variables
// $gray #505053
// $white #fff
// theme-color("primary") #00c1b3

//  component not used, only shown using inline css in ui-icons example page, saved for possible future use
//

//<div className={classnames('loading-container', className)}>
//  <ul className="loading-animation">
//    <li className="loading-dot" />
//    <li className="loading-dot" />
//    <li className="loading-dot" />
//  </ul>
//  <span className="loading-children">{ children }</span>
//</div>

//

$color: rgba(0, 0, 0, 0.25);

.loading-animation {
  display: inline-block;
  width: 1.5em;
  height: 1.2em;
  list-style: none;
  margin: 0 0 0 1.5em;
  padding: 0;
  position: relative;
  &.reversed {
    .loading-dot {
        animation: LOADINGREV 1s infinite;
        &:nth-child(1n) {
          animation-delay: 0s;
        }
        &:nth-child(2n) {
          animation-delay: 0.2s;
        }
        &:nth-child(3n) {
          animation-delay: 0.4s;
        }
      }
  }
  .loading-dot {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    height: .5em;
    width: .5em;
    border-radius: .5em;
    transform: transformZ(0);
    animation: LOADING 1.6s infinite;
    &:nth-child(1n) {
      left: -1em;
      animation-delay: 0s;
    }
    &:nth-child(2n) {
      left: 0;
      animation-delay: 0.2s;
    }
    &:nth-child(3n) {
      left: 1em;
      animation-delay: 0.4s;
    }
  }
}

@keyframes  LOADING {
  0%   {
    background: $color;
  }
  50%   {
    background: $body-bg;
  }
  100% {
    background: $color;
  }
}

@keyframes  LOADINGREV {
  0%   {
    background: $body-bg;
  }
  50%   {
    background: $color;
  }
  100% {
    background: $body-bg;
  }
}

.loading-children {
  margin-left: .75rem;
  font-weight: 600;
}


// loading animation

@keyframes triniti-spinner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes triniti-spinner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

// triniti spinner

.triniti-spinner {
  position: relative;
}

.triniti-spinner > div:first-child,
.triniti-spinner > div:first-child:after {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid $gray-700;
  border-top-color: transparent;
  border-radius: 50%;
}

.triniti-spinner > div:first-child {
  -webkit-animation: triniti-spinner 1s linear infinite;
  animation: triniti-spinner 400ms linear infinite;
  top: 30px;
  left: 30px;
  padding: 0;
}

.triniti-spinner > div:first-child:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.triniti-spinner {
  width: 60px !important;
  height: 60px !important;
  -webkit-transform: translate(-30px, -30px) scale(1) translate(30px, 30px);
  transform: translate(-30px, -30px) scale(1) translate(30px, 30px);
}
