// Master
//
// Includes body, font-size above 1600, focus outline removal
//

body {
  display: block;
  overflow: hidden;
  height: 100%;
  letter-spacing: -.02em;
  background-color: $gray-200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;

  @media (min-width: 1600px) {
    font-size: .875rem;
  }
}


// Increase base font size above 1600px wide



// Force col to 100% width on mobile if no col-12 set

.col {
  flex: 0 0 100%;
}

/* removal of the glow on objects on focus */

object,
embed,
input,
textarea,
select {
  outline: 0;
}

a:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='text']:focus,
input[type='checkbox']:focus,
button:focus,
.btn:focus,
.btn:active:focus,
.form-control:focus {
  outline: 0;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

a:focus,
button:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  letter-spacing: .008em;
}

a:not([href]):not([tabindex]),
.nav-link:hover {
  cursor: pointer;
}

// Layout

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.main-content-footer {
  position: absolute;
  z-index: $zindex-sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem 1.5rem;
  background-color: rgba(74, 74, 74, .8);
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
}


// Close - used with modals and buttons

.close {
  float: right;
  font-size: $close-font-size;
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  text-shadow: $close-text-shadow;
  opacity: .5;

  @include hover-focus {
    color: $close-color;
    text-decoration: none;
    opacity: .75;
  }
}


// Borders
//
// Usually added to divide content or to an aside

.border-top {
  border-top: 1px solid $gray-700;
}

.border-right {
  border-right: 1px solid $gray-700;
}

.border-bottom {
  border-bottom: 1px solid $gray-700;
}

.border-left {
  border-left: 1px solid $gray-700;
}


// Universal Padding

.padding-xl {
  padding: $padding-xl;
}

.padding-lg {
  padding: $padding-lg;
}

.padding-md {
  padding: $padding-md;
}

.padding-sm {
  padding: $padding-sm;
}

.padding-xs {
  padding: $padding-xs;
}


// Borderless - remove border and box-shadow

.borderless {
  border: none !important;
  box-shadow: none !important;
}


// HR Inverse

.card-inverse > hr {
  border-top: 1px solid $white-rgba-200;
}

// Hover that adds a transitioned background color on any element

.hover {
  transition: background-color $transition;
}

.hover:hover {
  background-color: $gray-100;
}


// Hover that adds an inset semi transparent border on any element

.hover-outline {
  position: relative;
}

.hover-outline::after {
  position: absolute;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  pointer-events: none;
  border: 4px solid $black;
  opacity: 0;
  transition: opacity $transition;
}

.hover-outline:hover::after {
  border: 4px solid $black;
  opacity: .0625;
}


// Keep input dropdown arrows consistent across browsers

input::-webkit-calendar-picker-indicator {
  background-color: inherit;
}
