// Master
//
// Includes body, font-size above 1600, focus outline removal
//

body {
  display: block;
  overflow: hidden;
  height: 100%;
  letter-spacing: -.02em;
  background-color: $gray-200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
}


// Increase base font size above 1600px wide

@media (min-width: 1600px) {
  body,
  .dropdown-menu {
    font-size: .875rem;
  }
}

// Force col to 100% width on mobile if no col-12 set

.col {
  flex: 0 0 100%;
}

/* removal of the glow on objects on focus */

object,
embed,
input,
textarea,
select {
  outline: 0;
}

a:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='text']:focus,
input[type='checkbox']:focus,
button:focus,
.btn:focus,
.btn:active:focus,
.form-control:focus {
  outline: 0;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
  box-shadow: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  letter-spacing: .008em;
}

// Layout

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.main-content-footer {
  position: absolute;
  z-index: $zindex-sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem 1.5rem;
  background-color: rgba(74, 74, 74, .8);
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
}

// HR Inverse

.card-inverse > hr {
  border-top: 1px solid $white-rgba-200;
}

// Todo Need to fix these Row styles

.tab-pane .row {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.aside-content .tab-pane .row {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 767px) {
  .row {
    padding-top: 1.5rem;
  }
  .row:first-child {
    padding-top: 0;
  }
}

// Pagination
//
// Fixes missing right border on hover

.page-link:focus,
.page-link:hover {
  z-index: 1;
}


// Footer Buttons
//
// Most often useed with small modals and asides so that the buttons touch the edges

.footer-buttons {
  padding: 0;
  justify-content: space-between;
}

.footer-buttons .btn {
  margin: 0 0 0 1px;
  border: none;
  border-radius: 0;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, .125);
  flex: 1;
}

.footer-button.border-0 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-dialog:not(.modal-sm) .footer-buttons .btn {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.footer-buttons .btn:first-child {
  margin-left: 0;
  border-bottom-left-radius: .2rem;
}

.footer-buttons .btn:last-child {
  border-bottom-right-radius: .2rem;
}


// Borders
//
// Usually added to divide content or to an aside

.border-top {
  border-top: 1px solid $gray-700;
}

.border-right {
  border-right: 1px solid $gray-700;
}

.border-bottom {
  border-bottom: 1px solid $gray-700;
}

.border-left {
  border-left: 1px solid $gray-700;
}

// Rows
//
// Custom row styles

.row-card-collection {
  padding-bottom: 3rem;
}

// Hover that adds a transitioned background color on any element

.hover {
  transition: background-color $transition;
}

.hover:hover {
  background-color: $gray-100;
}


// Hover that adds an inset semi transparent border on any element

.hover-outline {
  position: relative;
}

.hover-outline::after {
  position: absolute;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  pointer-events: none;
  border: 4px solid $black;
  opacity: 0;
  transition: opacity $transition;
}

.hover-outline:hover::after {
  border: 4px solid $black;
  opacity: .0625;
}
