// Master
//
// Includes body, font-size above 1600, focus outline removal
//

body {
  display: block;
  overflow: hidden;
  height: 100%;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
}


// Increase base font size above 1600px wide



// Force col to 100% width on mobile if no col-12 set

.col {
  flex: 0 0 100%;
}

// remove container-fluid & container padding if directly inside card-body since it has its own

.card-body > .container,
.card-body > .container-fluid {

  @media (max-width: 767px) {
    padding: 0;
  }
}

// removal of the glow on objects on focus

object,
embed,
input,
textarea,
select {
  outline: 0;
}

a:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='text']:focus,
input[type='checkbox']:focus,
button:focus,
.btn:focus,
.btn:active:focus,
.form-control:focus {
  outline: 0;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

input::-moz-focus-inner {
  border: 0;
}

a:focus {
  box-shadow: none;
}

.underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

h1,
h2,
h3 {
  margin-bottom: .4em;
  letter-spacing: .008em;
}

.header {
  font-size: 1rem;
  letter-spacing: 0;
  margin-bottom: 1.25rem;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: $dark;
}

p {
  font-size: .875rem;
}

.text-light {
  color: $text-light !important;
}

.text-body {
  color: $body-color !important;
}

.text-body-light {
  color: $body-color-light !important;
}

.text-label {
  font-size: $font-size-base;
  text-transform: none;
  letter-spacing: 0;
  font-weight: $font-weight-normal;
  color: $body-color;
}

.nowrap {
  white-space: nowrap;
}

a:not([href]):not([tabindex]),
.nav-link:hover {
  cursor: pointer;
}

.sticky-top {
  position: -webkit-sticky !important;
  position: sticky !important;
}

// Layout

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.main-content-footer {
  position: absolute;
  z-index: $zindex-sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem 1.5rem;
  background-color: rgba(74, 74, 74, .8);
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-between;
}


// Close - used with modals and buttons

.close {
  float: right;
  font-size: $close-font-size;
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  text-shadow: $close-text-shadow;
  opacity: .5;

  @include hover-focus {
    color: $close-color;
    text-decoration: none;
    opacity: .75;
  }
}


// Borders
//
// Usually added to divide content or to an aside

.border-top {
  border-top: 1px solid $gray-700;
}

.border-right {
  border-right: 1px solid $gray-700;
}

.border-bottom {
  border-bottom: 1px solid $gray-700;
}

.border-left {
  border-left: 1px solid $gray-700;
}


// Borderless - remove border and box-shadow

.borderless {
  border: none !important;
  box-shadow: none !important;
}


// HR Inverse

.card-inverse > hr {
  border-top: 1px solid $white-rgba-200;
}

// Hover that adds a transitioned background color on any element

.hover {
  transition: background-color $transition;
}

.hover:hover {
  background-color: $gray-100;
}


// Hover that adds an inset semi transparent border on any element

.hover-outline {
  position: relative;
}

.hover-outline::after {
  position: absolute;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  pointer-events: none;
  border: 4px solid $black;
  opacity: 0;
  transition: opacity $transition;
}

.hover-outline:hover::after {
  border: 4px solid $black;
  opacity: .0625;
}


// Keep input dropdown arrows consistent across browsers

input::-webkit-calendar-picker-indicator {
  background-color: inherit;
}

// Box-shadow

.shadow-depth-0 {box-shadow: $shadow-depth-0 !important;}
.shadow-depth-1 {box-shadow: $shadow-depth-1 !important;}
.shadow-depth-2 {box-shadow: $shadow-depth-2 !important;}
.shadow-depth-3 {box-shadow: $shadow-depth-3 !important;}
.shadow-depth-4 {box-shadow: $shadow-depth-4 !important;}
.shadow-depth-5 {box-shadow: $shadow-depth-5 !important;}
.shadow-depth-6 {box-shadow: $shadow-depth-6 !important;}
.shadow-depth-7 {box-shadow: $shadow-depth-7 !important;}
.shadow-depth-8 {box-shadow: $shadow-depth-8 !important;}

// Flex Order

.flex-order-1 {order: 1;}
.flex-order-2 {order: 2;}
.flex-order-3 {order: 3;}
.flex-order-4 {order: 4;}
.flex-order-5 {order: 5;}
.flex-order-6 {order: 6;}
.flex-order-7 {order: 7;}
.flex-order-8 {order: 8;}

@media (max-width: 767px) {
  .flex-order-mobile-1 {order: 1 !important;}
  .flex-order-mobile-2 {order: 2 !important;}
  .flex-order-mobile-3 {order: 3 !important;}
  .flex-order-mobile-4 {order: 4 !important;}
  .flex-order-mobile-5 {order: 5 !important;}
  .flex-order-mobile-6 {order: 6 !important;}
  .flex-order-mobile-7 {order: 7 !important;}
  .flex-order-mobile-8 {order: 8 !important;}
}


// Status Background Colors

.status-archived    {background-color: $archived;}
.status-draft       {background-color: $draft;}
.status-deleted     {background-color: $deleted;}
.status-expired     {background-color: $expired;}
.status-pending     {background-color: $pending;}
.status-published   {background-color: $published;}
.status-scheduled   {background-color: $scheduled;}

.status-copy {
  position: relative;
  padding: 2px 6px;
  border-radius: $border-radius;
  margin-left: .25rem;
}


// Flex Grow & Shrink

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-grow: 0;
}

.flex-shrink-1 {
  flex-grow: 1;
}


// Modal & Alert Animations

@keyframes triniti-bounce {
  0% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes triniti-slidein {
  0% {
    transform: translateY(-.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes triniti-slidein-right {
  0% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes triniti-slidein-left {
  0% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}