// nav

.navbar {
  background-color: theme-color("light");
}

.navbar-dark {
  background-color: theme-color("dark");
}

.nav-link {
  position: relative;
  color: $gray-800;
}

.navbar-toggler {
  height: 100%;
  display: flex;
  vertical-align: top;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.navbar-toggler-right {
  position: relative;
  align-self: flex-end;
}

.navbar-toggler:hover .navbar-toggler-icon {
  filter: opacity(.9);
}

.nav-pills .nav-link {
  margin: 0 .25rem 0 0;
  background-color: $gray-400;
}

.nav-pills-sm .nav-link {
  font-size: .92em;
  padding: .25rem .75rem;
  border-radius: $border-radius;
}

.nav-link:hover,
.nav-link:focus {
  color: $body-color;
}

.navbar-nav .nav-link-icon {
  padding: 1.25em .5em;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .navbar-toggler-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .navbar-nav .nav-link-icon {
    font-size: 1em;
    padding: 1.1em .5em;
  }
}

.navbar-main-wrapper {
  z-index: $zindex-fixed + 3;
  display: flex;
  flex-direction: row;
  padding: 0 !important;
  box-shadow: 0 0 1px $gray-rgba-600, 0 1px 1px $gray-rgba-300;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  flex: 0 0 auto;
}

