// Tabs

.tab-header {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.tabs-simple {
  flex: 0 0 auto;
}

.tabs-simple.divider {
  top: -1px;
  padding-top: 0;
  padding-bottom: 0;
}

.sticky-top > .tabs-simple {
  background-color: $gray-100;
}

.tabs-simple li {
  text-align: center;
}

.aside-content .tabs-simple .nav-item {
  flex: 1 1 auto;
}

.tabs-simple .nav-link::before {
  content: none !important;
}

.tabs-simple > .nav-item > .nav-link {
  font-size: .8rem;
  font-weight: 700;
  height: 100%;
  padding: .9375rem 1.25rem;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: none;
}

.tabs-simple-sm > .nav-item > .nav-link {
  padding: .8rem 1.25rem;
}

.tabs-simple-lg > .nav-item > .nav-link {
  padding: 1.125rem 1.25rem;
}

.tabs-simple .nav-link {
  border: none;
}

.tabs-simple > .nav-item > .nav-link.active,
.tabs-simple > .nav-item > .nav-link.active:hover {
  box-shadow: inset 0 -3px 0 0 theme-color("primary");
  border: none;
}

.tabs-simple .nav-link.active,
.tabs-simple .nav-item.show .nav-link {
  background-color: transparent;
}

.main-container .tabs-simple.sticky-top {
  min-height: $header-height;
  background-color: $gray-100;
}
