// Variables
//

// Bootstrap Colors

$white:    #fff;
$gray-100: #fafafc;
$gray-200: #f7f7f9;
$gray-300: #f2f2f4;
$gray-400: #efeff1;
$gray-500: #e9e9eb;
$gray-600: #e0e0e2;
$gray-700: #d9d9db;
$gray-800: #505052;
$gray-900: #29292b;
$black:    #000;

$blue:    #1e75e0;
$indigo:  #6757e6;
$purple:  #9947f3;
$pink:    #fd3576;
$red:     #f74b4b;
$orange:  #f99520;
$yellow:  #ffe261;
$green:   #04c5a2;
$teal:    #13c8dd;
$cyan:    #08a0e8;

$primary:       $green;
$secondary:     $cyan;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-200;
$dark:          #7a7a7c;

$archived:      darken($gray-100, 1%);
$deleted:       lighten($warning, 38%);
$draft:         darken($gray-400, 3%);
$expired:       lighten($blue, 45%);
$pending:       lighten($danger, 33%);
$published:     $white;
$scheduled:     lighten($yellow, 26%);

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

$body-bg:                       $gray-400;
$body-color:                    $gray-900;

$dropdown-link-hover-bg:        $gray-100;


// Links

$link-color:            darken(theme-color("secondary"), 10%);
$link-decoration:       none;
$link-hover-color:      darken(theme-color("secondary"), 15%);
$link-hover-decoration: underline;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px, // 992px is default
  xl: 1200px
);

$hr-margin-y:           1.5rem;

$progress-height:       1.25rem;

// End bootstrap variables


// Navbar
$navbarlogo-width:           8.6rem !default;


// Text Shadow
$text-shadow:        0 1px 1px rgba(0, 0, 0, 0.1) !default;


// Rounded for border-radius when 50% isn't working
$round:              10rem !default;

// Border Radius for large items like modal

$border-radius-xl:    6px;

// Round button heights

$button-round-height-xxs: 1rem;
$button-round-height-xs: 1.375rem;
$button-round-height-sm: 1.75rem;
$button-round-height:    2.125rem;
$button-round-height-md: 2.5rem;
$button-round-height-lg: 3.375rem;
$button-round-height-xl: 4.875rem;


// Common Transparent Grays
$gray-rgba-100:      rgba($black, .04) !default;
$gray-rgba-200:      rgba($black, .0625) !default;
$gray-rgba-300:      rgba($black, .1) !default;
$gray-rgba-400:      rgba($black, .125) !default;
$gray-rgba-500:      rgba($black, .15) !default;
$gray-rgba-600:      rgba($black, .2) !default;
$gray-rgba-700:      rgba($black, .5) !default;
$gray-rgba-800:      rgba($black, .625) !default;
$gray-rgba-900:      rgba($black, .8) !default;


// Common Transparent Whites
$white-rgba-100:     rgba(#fff, .0625) !default;
$white-rgba-200:     rgba(#fff, .1) !default;
$white-rgba-300:     rgba(#fff, .125) !default;
$white-rgba-400:     rgba(#fff, .25) !default;
$white-rgba-500:     rgba(#fff, .5) !default;
$white-rgba-600:     rgba(#fff, .625) !default;
$white-rgba-700:     rgba(#fff, .75) !default;
$white-rgba-800:     rgba(#fff, .8) !default;
$white-rgba-900:     rgba(#fff, .9) !default;

$text-disabled:      #bababa;


// Navbar Theme Colors

$navbar-theme-light:           $white !default;
$navbar-theme-dark:            #232935 !default;
$navbar-theme-dark-dropdown:   lighten($navbar-theme-dark, 4%) !default;
$navbar-theme-light-dropdown:  lighten($navbar-theme-light, 4%) !default;


// Forms

$form-control-radius:         2px !default;
$form-item-spacing:           .5rem !default;


// Calculations for Header and Offcanvas
$header-height:               48px !default;


// Offcanvas
$offcanvas-desktop-margin:    262px !default;
$offcanvas-width:             300px !default;


// Transition to be used with any parameter, use instead of -base, -fade, -collapse
$transition:         250ms ease-in-out !default;


// Padding classes
$padding-xl:         3rem !default;
$padding-lg:         2rem !default;
$padding-md:         1.5rem !default;
$padding-sm:         1.25rem !default;
$padding-xs:         1rem !default;


// Padding at the bottom of content areas
$padding-content-bottom: 15rem;


// Shadow Depths

$shadow-depth-0:                  none !default;
$shadow-depth-1:                  0 0 0 1px $gray-400 !default;
$shadow-depth-2:                  0 1px 1px rgba(0,0,0,0.1) !default;
$shadow-depth-3:                  0 1px 2px rgba(0,0,0,0.1) !default;
$shadow-depth-4:                  0 2px 8px rgba(0,0,0,0.1) !default;
$shadow-depth-5:                  0 4px 12px rgba(0,0,0,0.2) !default;
$shadow-depth-6:                  0 8px 24px -4px rgba(0,0,0,0.2) !default;
$shadow-depth-7:                  $shadow-depth-2, 0 16px 16px -8px rgba(0,0,0,0.2) !default;
$shadow-depth-8:                  $shadow-depth-2, 0 24px 24px -4px rgba(0,0,0,0.2) !default;

$shadow-card:                    $shadow-depth-2 !default;


// Checkbox Radio Switch Heights

$form-check-height-xs:   1rem !default;
$form-check-height-sm:   1.25rem !default;
$form-check-height:      1.5rem !default;
$form-check-height-md:   1.75rem !default;
$form-check-height-lg:   2.5rem !default;
$form-check-shadow:      inset 0 0 0 1px rgba(0,0,0,0.1) !default;


// Modal

$modal-xl:                     1000px !default; // new size


// Form & button element min-heights

$form-min-height-sm:     28px !default;
$form-min-height:        40px !default;
$form-min-height-lg:     54px !default;