// Spinner
//

$offset: 178;
$duration: 1.5s;

.spinner-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  vertical-align: middle;
}

.spinner-animation {
  padding: 0;
  animation: rotator $duration linear infinite;
}

.spinner-children {
  margin-left: .75rem;
  font-weight: 600;

  &:empty {
    margin-left: 0;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.spinner-animation-path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.matt-centered {
  display: flex;
  width: 100%;
  height: 100% !important;
  align-items: center;
  justify-content: center;
}