// Breadcrumb

@import "~bootstrap/scss/breadcrumb";

.breadcrumb {
  margin-right: .5rem;
  text-transform: capitalize;
  transition: margin $transition;
}

// Breadcrumb Item

.breadcrumb-item {
  float: left;
  color: $breadcrumb-active-color;

  & a {
    color: $gray-900;
  }

  &:hover,
  & a:hover {
    color: darken($gray-900, 15%);
  }
}

@media (max-width: 767px) {
  .offcanvas-left + .main > .page-header .breadcrumb {
    margin-left: 1.75rem;
  }
}
