// Breadcrumb

@import "~bootstrap/scss/breadcrumb";

.breadcrumb {
  margin-right: .5rem;
  text-transform: capitalize;
  transition: margin $transition;
}

// Breadcrumb Item

.breadcrumb-item {
  color: $breadcrumb-active-color;

  & a {
    color: $gray-900;
  }

  &:hover,
  & a:hover {
    color: darken($gray-900, 15%);
  }
}
