// Main

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  flex: 1 1 100%;
  flex-wrap: nowrap;
}

@media (max-width: 767px) {
  .main {
    max-width: 100vw;
    flex: 1 1 auto;
  }
}
