// Select

// Select Control
$form-min-height-sm:     28px;
$form-min-height:        40px;
$form-min-height-lg:     54px;
$border-radius-form:      2px;
$input-focus-color:     $info;
$status-height:         320px;

.select {
  width: 100%;
}

.select__control {
  cursor: default;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $input-bg;
  border: 1px solid $input-border-color;
  color: $body-color;
  border-radius: $border-radius-form;
  height: $form-min-height;
  outline: 0 !important;

  &:hover {
    box-shadow: $hover-shadow;
  }
  .input-group-sm &,
  .select--size-sm & {
    height: $form-min-height-sm;
  }
  .input-group-lg &,
  .select--size-lg & {
    height: $form-min-height-lg;
    font-size: 1rem;
  }
  .input-group & {
    border-radius: 0;
  }
  .input-group-prepend & {
    border-radius: $border-radius-form 0 0 $border-radius-form;
  }
  .input-group-append & {
    border-radius: 0 $border-radius-form $border-radius-form 0;
  }
  .select-form-control-radius-none & {
    border-radius: 0;
  }
  .select-form-control-radius-round & {
    border-radius: $round;
    padding: 0 .675rem;
  }
  &--is-focused,
  &:focus {
    border-color: #08a0e8; // $input-focus-border-color
    box-shadow: $input-focus-box-shadow;
  }
  &--menu-is-open,
  &--menu-is-open:hover {
    background-color: #fff;
    border-radius: $border-radius-form $border-radius-form 0 0;
    border-color: #b3b3b3 #ccc #d9d9d9 #ccc;
    box-shadow: none;
  }
}

.select__value-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0 0 0 10px;
  height: 100%;
  overflow: hidden;
}

.select__placeholder {
  color: #aaa;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

.select__dropdown-indicator {
  position: relative;
  display: flex;
  padding-right: 5px;
  width: 25px;
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    &::before {
      border-color: #666 transparent transparent;
    }
  }
  &::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-top: 3px;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    height: 0;
    width: 0;

    .select__control--menu-is-open & {
      border-color: transparent transparent #999;
      border-width: 0 5px 5px;
    }
  }
  svg {
    display: none;
  }
}

.select__clear-indicator {
  position: relative;
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #999;

  &:hover {
    color: #cf152d;
    cursor: pointer;
  }
  svg {
    width: 15px;
    height: 15px;
  }
}

.select__menu {
  position: absolute;
  top: 100%;
  border-radius: 0 0 $border-radius-form $border-radius-form;
  border: 1px solid $dropdown-border-color;
  border-color: #d9d9d9 #ccc #b3b3b3 #ccc;
  margin-top: -1px;
  margin-bottom: 8px;
  padding: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: $shadow-depth-3;
  z-index: 1;
}

.select__menu-list {
  padding: 0 !important;
}

// hover styles

.select__option {
  display: block;
  padding: .675rem;
  width: 100%;
  color: #666;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select__option--is-focused,
.select__option:active {
  background-color: rgba($input-focus-color, 0.04);
  color: #333;
}

.select__option--is-selected,
.select__option--is-selected.select__option--is-focused {
  background-color: rgba($input-focus-color, 0.125);
  box-shadow: inset 2px 0 0 $input-focus-color;
  color: #333;
}

.select__option--is-disabled {
  opacity: .5;
  cursor: not-allowed;
}
