// Select

// Select Control
$form-min-height-sm:     28px;
$form-min-height:        40px;
$form-min-height-lg:     54px;
$border-radius-form:      2px;
$input-focus-color:     $info;
$status-height:         320px;

.select {
  width: 100%;
}

.select__control {
  cursor: default;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $input-bg;
  border: 1px solid $input-border-color;
  color: $body-color;
  border-radius: $border-radius-form;
  height: $form-min-height;
  outline: 0 !important;

  .bg-white & {
    background-color: $white;
  }
  &:hover {
    box-shadow: $hover-shadow;
  }
  .input-group-sm &,
  .select--size-sm & {
    height: $form-min-height-sm;
  }
  .input-group-lg &,
  .select--size-lg & {
    height: $form-min-height-lg;
    font-size: 1rem;
  }
  .input-group & {
    border-radius: 0;
  }
  .input-group-prepend & {
    border-radius: $border-radius-form 0 0 $border-radius-form;
  }
  .input-group-append & {
    border-radius: 0 $border-radius-form $border-radius-form 0;
  }
  .select-form-control-radius-none & {
    border-radius: 0;
  }
  .select-form-control-radius-round & {
    border-radius: $round;
    padding: 0 .675rem;
  }
  &--is-focused,
  &:focus {
    border-color: #08a0e8; // $input-focus-border-color
    box-shadow: $input-focus-box-shadow;
  }
  &--menu-is-open,
  &--menu-is-open:hover {
    background-color: #fff;
    border-radius: $border-radius-form $border-radius-form 0 0;
    border-color: #ccc #ccc #d9d9db #ccc;
    box-shadow: none;
  }
}

.select__value-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0 0 0 10px;
  height: 100%;
  overflow: hidden;

  a {
    color: $body-color;
  }
}

.select__placeholder {
  color: #aaa;
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

.select__multi-value {
  display: flex;
  margin: 2px;
  min-width: 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .06);

  a {
    color: $body-color;
    padding: 3px 3px 3px 6px;
  }
}

.select__multi-value__remove {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;

  &:hover {
    color: #cf152d;
    background-color: #fad1d6;
  }
}

.select__dropdown-indicator {
  position: relative;
  display: flex;
  padding-right: 5px;
  width: 25px;
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    &::before {
      border-color: #666 transparent transparent;
    }
  }
  &::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-top: 3px;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    height: 0;
    width: 0;

    .select__control--menu-is-open & {
      border-color: transparent transparent #999;
      border-width: 0 5px 5px;
    }
  }
  svg {
    display: none;
  }
}

.select__clear-indicator {
  position: relative;
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #999;

  &:hover {
    color: #cf152d;
    cursor: pointer;
  }
  svg {
    width: 15px;
    height: 15px;
  }
}

.select__menu {
  position: absolute;
  top: 100%;
  border-radius: 0 0 $border-radius-form $border-radius-form;
  border: 1px solid $dropdown-border-color;
  border-color: #e6e6e6 #d9d9d9 #b3b3b3 #d9d9d9;
  margin-top: -1px;
  margin-bottom: 8px;
  padding: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: $shadow-depth-3;
  z-index: 3;
}

.select__menu-list {
  padding: 0 !important;
}

// hover styles

.select__option {
  display: block;
  padding: .675rem;
  width: 100%;
  color: $gray-800;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:hover {
    color: $body-color;
  }
}

.select__option--is-focused,
.select__option:active {
  background-color: rgba($input-focus-color, 0.04);
  color: #333;
}

.select__option--is-selected,
.select__option--is-selected.select__option--is-focused {
  background-color: rgba($input-focus-color, 0.125);
  box-shadow: inset 2px 0 0 $input-focus-color;
  color: #333;
}

.select__option--is-disabled {
  opacity: .5;
  cursor: not-allowed;
}

.select__option:hover small,
.select__option.is-selected small {
  box-shadow: 0 0 0 1px $white-rgba-700 !important;
}

// drop down menu styles

// menu-outer used with records header

.select__menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 230px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
}

.select__menu-outer .select__menu {
  position: relative;
  margin-bottom: 0;
  border: none;
  border-top: 1px solid #e6e6e6;
  max-height: 198px;
  overflow-y: auto;
  box-shadow: none;
}


// records header

.select__menu-outer .select__records {
  padding: 6px 10px;
  color: #bababa;
  font-weight: bold;
}

.select__menu-outer .select__records span {
  font-style: italic;
}


// menu list

.select__menu-list {
  max-height: 198px;
  overflow-y: auto;
}

.select__option {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: rgba(8,160,232,0.04);
  }
  &[role=presentation] {
    border-bottom: 1px solid rgba(0,0,0,0.04);
    min-height: 57px;
  }
  &.is-selected,
  &.is-selected:hover {
    background-color: rgba(8,160,232,0.125);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), inset 3px 0 0 #08a0e8;
  }
}

.select__option .media {
  align-items: center;
  margin-bottom: 0;
}

.select__option .media-heading {
  margin-bottom: 0;
}


// status styles

.select--status {
  .select__value-container {
    position: static;
  }
  .select__value {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
  }
  .select__option {
    padding: 0;
  }
  .select__status {
    padding: 12px;
    width: 100%;
    border-radius: 0;
    margin-left: 0;
  }
}
