// Card

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/card";

.card {
  flex-shrink: 0;
  margin: 0 0 1rem 0;
  width: 100%;
  border: none;

  .tab-pane > & {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    margin: 0 0 .5rem 0;
  }
}

.card-border {
  border: $card-border-width solid $card-border-color;
}


.card-body {

  .screen-body > .card & {
    position: relative;
    padding: ($padding-xs - .125rem) $padding-xs ($padding-xs + .5rem) $padding-xs;

    @media (min-width: 768px) and (max-width: 1024px) {
      padding: ($padding-md - .25rem) $padding-md ($padding-md + .5rem) $padding-md;
    }

    @media (min-width: 1025px) and (max-width: 1599px) {
      padding: ($padding-lg - .5rem) $padding-lg ($padding-lg + .5rem) $padding-lg;
    }

    @media (min-width: 1600px) {
      padding: ($padding-xl - .5rem) $padding-xl ($padding-xl + .5rem) $padding-xl;
    }
  }
}

.card-body + .card-body {
  box-shadow: inset 0 1px 0 0 $gray-300;
}

.jumbotron > .card-body {
  background-color: inherit;
}

.card-body > .row {
  padding-top: ($padding-xs - .125rem);

  @media (min-width: 768px) and (max-width: 1024px) {
    padding-top: ($padding-md - .25rem);
  }

  @media (min-width: 1025px) and (max-width: 1599px) {
    padding-top: ($padding-lg - .5rem);
  }

  @media (min-width: 1600px) {
    padding-top: ($padding-xl - .5rem);
  }
}

.card-body > .row:first-of-type {
  padding-top: 0;
}

.card-subheader + .row {
  padding-top: 0;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

h1.card-title {
  margin-bottom: 1.5rem;
  min-height: 2.125rem;
}

h2.card-title {
  margin-bottom: 1.25rem;
  min-height: 2.125rem;
}

h3.card-title {
  margin-bottom: 1rem;
}

h4.card-title {
  margin-top: 2rem;
}

.card-section-title {
  position: relative;
  min-height: auto;
  margin-bottom: 1.25rem;
  padding: 0;
  border-bottom: $card-border-width solid $card-border-color;
  white-space: nowrap;
  font-size: .9em;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: 400;
  color: $gray-rgba-800;
  background-color: transparent;
  z-index: initial;
}

.card-title-sm {
  margin-right: auto;
  margin-left: .5rem;
  font-size: $small-font-size;
  color: $text-muted;
}

.card-text:last-child {
  margin-bottom: 0;
}


//
// Optional textual caps
//


// Card Header

.card-header {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
  display: flex;
  flex: 0 0 auto;
  padding: 0 $card-spacer-x;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  min-height: $header-height + 2;

  .screen-sidebar & {
    font-weight: 400;
    background-color: theme-color("light");
  }

  .screen-sidebar-body > .card:not(:first-child) & {
      box-shadow: 0 -1px 0 $card-border-color;
    }

  .screen-body > .card:first-child > & {
    margin-top: .75rem;
  }

  .screen-body > .card & {
    padding: 0;
    border-bottom: none;
    border-left: $padding-xs solid $white;
    border-right: $padding-xs solid $white;

    @media (min-width: 768px) {
      border-left: $padding-md solid $white;
      border-right: $padding-md solid $white;
    }
    @media (min-width: 1025px) {
      border-left: $padding-lg solid $white;
      border-right: $padding-lg solid $white;
    }
    @media (min-width: 1600px) {
      border-left: $padding-xl solid $white;
      border-right: $padding-xl solid $white;
    }

    &::before {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      right: 0;
      height: 1px;
      content: '';
      background-color: $gray-500;
    }
  }
}

// CardHeader stretches full width

.card-header-full-width {
  padding: 0 $padding-xs !important;
  border-left: none !important;
  border-right: none !important;

  @media (min-width: 768px) {
    padding: 0 $padding-md !important;
  }
  @media (min-width: 1025px) {
    padding: 0 $padding-lg !important;
  }
  @media (min-width: 1600px) {
    padding: 0 $padding-xl !important;
  }
}

// Subheader - most often used in sidebars

.card-subheader {
  position: relative;
  min-height: auto;
  margin-bottom: 1.25rem;
  padding: 0;
  border-bottom: $card-border-width solid $card-border-color;
  white-space: nowrap;
  font-size: .9em;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: 400;
  color: $gray-rgba-800;
  background-color: transparent;
  z-index: initial;

  &::before {
    display: none;
  }
}

.card-spacing-lg .card-footer {
  padding-left: $padding-xs;
  padding-left: $padding-xs;

  @media (min-width: 768px) {
    padding-left: $padding-md;
    padding-left: $padding-md;
  }
  @media (min-width: 1025px) {
    padding-left: $padding-lg;
    padding-left: $padding-lg;
  }
  @media (min-width: 1600px) {
    padding-left: $padding-xl;
    padding-left: $padding-xl;
  }
}


//
// Card groups
//
// Left this old style since it worked better

@include media-breakpoint-up(sm) {
  .card-group {
    display: flex;
    flex-flow: row wrap;

    .card {
      flex: 1 0 0%;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:first-child {
          @include border-right-radius(0);

          .card-img-top {
            border-top-right-radius: 0;
          }
          .card-img-bottom {
            border-bottom-right-radius: 0;
          }
        }
        &:last-child {
          @include border-left-radius(0);

          .card-img-top {
            border-top-left-radius: 0;
          }
          .card-img-bottom {
            border-bottom-left-radius: 0;
          }
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0;

          .card-img-top,
          .card-img-bottom {
            border-radius: 0;
          }
        }
      }
    }
  }
}


// Card Hover Class

.card-hover {
  position: relative;
  transition: transform $transition;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: opacity $transition;
    opacity: 0;
    box-shadow: 0 .5rem 1.5rem -.25rem rgba($black, .2);
  }

  &:hover {
    transform: translate(0, -4px);
  }

  &:hover::after {
    opacity: 1;
  }
}


// Card Inverse Text Colors

.card-inverse {
  .card-title,
  .card-subtitle,
  .card-footer {
    color: $white;
  }
  .card-text {
    color: $white-rgba-800;
  }
}


// Card Colors
// todo: see if this can be automated to enable all theme-colors and variants

.card-primary {
  background-color: theme-color("primary");
  border-color: theme-color("primary");
}

.card-outline-primary {
  border-color: theme-color("primary");
}

.card-secondary {
  background-color: theme-color("secondary");
  border-color: theme-color("secondary");
}

.card-outline-secondary {
  border-color: theme-color("secondary");
}

.card-dark {
  background-color: theme-color("dark");
  border-color: theme-color("dark");
}

.card-outline-dark {
  border-color: theme-color("dark");
}

.card-transparent {
  background-color: transparent;
}
