// Icon

@import "~bootstrap/scss/mixins";

//
// Base styles
//

.icon > svg path {
  fill: currentColor;
}

.icon {
  display: inline-flex;
  height: 1rem; // 16px

  .btn & {
    margin-right: .5rem;
  }

  .btn-radius-circle & {
    margin-right: 0;
  }

  > svg {
    height: 1rem;
    width: auto;
  }
}

.icon-xs {
  height: .75rem; // 12px

  > svg {
    height: .75rem;
  }
}

.icon-sm {
  height: .875rem; // 14px

  > svg {
    height: .875rem;
  }
}

.icon-sd {
  height: 1.125rem; // 18px

  > svg {
    height: 1.125rem;
  }
}

.icon-md {
  height: 1.25rem; // 20px

  > svg {
    height: 1.25rem;
  }
}

.icon-lg {
  height: 1.5rem; // 24px

  > svg {
    height: 1.5rem;
  }
}

.icon-xl {
  height: 2rem; // 32px

  > svg {
    height: 2rem;
  }
}

.icon + .icon {
  margin-left: .75rem;
}

.icon-toggler {
  position: absolute;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: transform 250ms ease-in-out;
  opacity: .5;
}

.active > .icon-toggler {
  transform: rotate(90deg);
}

img.icon-inverse,
.icon-inverse > img {
  filter: invert(1);
  opacity: 1;
}
