// Icon

@import "~bootstrap/scss/mixins";

//
// Base styles
//

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.icon-toggler {
  position: absolute;
  top: 15%;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: transform 250ms ease-in-out;
  opacity: .5;
}