// Icon

@import "~bootstrap/scss/mixins";

//
// Base styles
//

.icon > svg path {
  fill: currentColor;
}

.icon {
  display: inline-flex;
  // max-width: 1rem;  // 16px
  height: 1rem;

  .btn & {
    margin-right: .5rem;
  }

  .btn-radius-circle & {
    margin-right: 0;
  }

  > svg {
    height: 1rem;
    width: auto;
  }
}

.icon-xs {
  // max-width: .75rem;   // 12px
  height: .75rem;

  > svg {
    height: .75rem;
  }
}

.icon-sm {
  // max-width: .875rem;   // 14px
  height: .875rem;

  > svg {
    height: .875rem;
  }
}

.icon-sd {
  // max-width: 1.0625rem;   // 17px
  height: 1.0625rem;

  > svg {
    height: 1.0625rem;
  }
}

.icon-md {
  // max-width: 1.125rem;   // 18px
  height: 1.125rem;

  > svg {
    height: 1.125rem;
  }
}

.icon-lg {
  // max-width: 1.25rem;   // 20px
  height: 1.25rem;

  > svg {
    height: 1.25rem;
  }
}

.icon-xl {
  // max-width: 1.375rem;   // 22px
  height: 1.375rem;

  > svg {
    height: 1.375rem;
  }
}

.icon + .icon {
  margin-left: .75rem;
}

.icon-toggler {
  position: absolute;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
  transition: transform 250ms ease-in-out;
  opacity: .5;
}

.active > .icon-toggler {
  transform: rotate(90deg);
}

img.icon-inverse,
.icon-inverse > img {
  filter: invert(1);
  opacity: 1;
}
