// Divider

.divider-horizontal-sm {
  display: inline-block;
  border-left: 1px solid $card-border-color;
  margin-left: .5rem;
  padding-right: 1rem;
  height: 28px;
  vertical-align: middle;
}

.divider-horizontal-md {
  display: inline-block;
  border-left: 1px solid $card-border-color;
  margin-left: .5rem;
  padding-right: 1rem;
  height: 40px;
  vertical-align: middle;
}

.divider-horizontal-lg {
  display: inline-block;
  border-left: 1px solid $card-border-color;
  margin-left: .5rem;
  padding-right: 1rem;
  height: 54px;
  vertical-align: middle;
}

.divider-vertical-sm {
  height: 0;
  min-height: 0;
  margin: 1rem 0;
  padding: 0;
  border-bottom: 1px solid $card-border-color;
  overflow: visible;
  box-sizing: content-box;
}

.divider-vertical-md {
  min-height: 1em;
  margin: 1rem 0;
  padding: .3rem $padding-xs;
  border-bottom: 1px solid $card-border-color;
  background-color: $gray-100;
  box-shadow: 0 -1px 0 0 $card-border-color;
}

.divider-vertical-lg {
  min-height: 1em;
  margin: 1rem 0;
  padding: $padding-xs;
  border-bottom: 1px solid $card-border-color;
  background-color: $gray-100;
  box-shadow: 0 -1px 0 0 $card-border-color;
}
