// Main Content
//
// Scrollable content area inside main

.main-content {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  flex-direction: row;

  &:not(.main-content-split) {
    align-items: flex-start;
    align-content: flex-start;
  }
}

@media (max-width: 767px) {
  .main-content {
    width: 100vw;
  }
  .main-content:after {
    height: 4rem;
  }
}

.main-content-split {
  overflow: visible;
}

.main-content-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}


// MaxWidth
//
// Add to cards along with mx-auto to constrain width and center align

.max-width {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
}

.max-width-xs {
  max-width: 640px;
}

@media (min-width: 768px) {
  .max-width-sm {
    max-width: 720px;
  }
  .max-width-md {
    max-width: 1024px;
  }
  .max-width-lg {
    max-width: 1200px;
  }
  .max-width-xl {
    max-width: 1600px;
  }
}

.main-content-flex-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.main-content-row {
  display: flex;
  flex: 1;
  height: 100%;
}

.main-content-scroll {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}

.main-content-sticky {
  position: sticky;
  top: 0;
  flex: 0 0 100%;
  background-color: $gray-200;
  padding-top: 1rem;
  z-index: $zindex-sticky;
}

.main-content-navtabs {
  display: flex;
  background-color: $gray-200;
  padding-top: 18px;
  flex: 0 0 100%;
  height: 56px;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
      background: $gray-500;
  }

  & .nav {
    align-self: flex-end;
  }
}
