// Alert

@import "~bootstrap/scss/mixins";

//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: none;
  border-radius: 0;

  .card-body > & {
    @include border-radius($alert-border-radius);
  }
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
  .alert-#{$color}.alert-inverse {
    background-color: theme-color($color);
    font-weight: 700;
    color: $white;
    text-shadow: 0 1px 0 $gray-rgba-600;
  }
}


// Sticky Alert

.alert-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;

  display: flex;
  min-height: $header-height + 2;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 $gray-rgba-300;
}

// Alerts in tables

.table .alert {
  border-radius: 0;
}

.alert td,
.alert td:hover .alert th,
.alert th:hover {
  border-radius: 0;
  background-color: inherit;
}

.alert p:last-of-type {
  margin-bottom: 0;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: 3rem;

  .btn-alert-close {
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Close button

.btn-alert-close {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  background: transparent;
  border: 0;
  line-height: .9;
  font-size: 1.2375rem;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  -webkit-appearance: none;
}

.btn-alert-close:hover {
  opacity: .8;
}

.alert-inverse .btn-alert-close {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  opacity: .7;
}

.alert-inverse .btn-alert-close:hover {
  color: $white;
  opacity: 1;
}
