// Alert

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/alert";

//
// Base styles
//

.alert {
  border: none;
  border-radius: 0;
  font-size: .875rem;

  .card-body > & {
    @include border-radius($alert-border-radius);
  }

  /*
  .alert-container & {
    margin-bottom: 0;
    border-bottom: 1px solid $gray-rgba-200;
  }
  */

  .alert-container & {
    @include border-radius($alert-border-radius);
    box-shadow: $shadow-depth4;
  }

  & span::before {
      content: ' ';
  }

  .alert-wrapper & {
    animation: 300ms ease-out 0s 1 slideInAlert;
  }
}

.alert-wrapper {
  position: relative;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  margin: 0 auto;
  padding: .5rem 1rem;
  max-width: 680px;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color}.alert-inverse {
    background: darken(theme-color($color), 4%);
    font-weight: 700;
    color: $white;
    text-shadow: 0 1px 0 $gray-rgba-600;
  }
}

.alert-link {
  font-weight: 500;
  border-bottom: 1px dotted rgba(0,0,0,0.4);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.alert-inverse .alert-link {
  color: #fff;
  font-weight: 700;
  border-bottom: 1px dotted #fff;
}


// Sticky Alert

.alert-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;

  display: flex;
  min-height: $header-height + 2;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 $gray-rgba-300;
}

// Alerts in tables

.table .alert {
  border-radius: 0;
}

.alert td,
.alert td:hover .alert th,
.alert th:hover {
  border-radius: 0;
  background-color: inherit;
}

.alert p:last-of-type {
  margin-bottom: 0;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: 3rem;

  .btn-alert-close {
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Close button

.btn-alert-close {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  background: transparent;
  border: 0;
  line-height: .9;
  font-size: 1.2375rem;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  -webkit-appearance: none;
  cursor: pointer;
}

.btn-alert-close:hover {
  opacity: .8;
}

.alert-inverse .btn-alert-close {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  opacity: .7;
}

.alert-inverse .btn-alert-close:hover {
  color: $white;
  opacity: 1;
}

// alert animation

@keyframes slideInAlert {
  0% {
    transform: translateY(-.5rem);
  }
  100% {
    transform: translateY(0);
  }
}