// Navbar Tabs Item
//

.navbar-tabs-item {
  margin-bottom: -1px;
  text-align: center;
}

.navbar-tabs-link-wrapper {
  display: flex;
}

.navbar-tabs-link {
  margin-bottom: -1px;
  font-size: .8rem;
  font-weight: 700;
  height: 100%;
  padding: .9375rem 1.25rem;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.navbar-tabs-link:hover,
.navbar-tabs-link:focus {
  color: $body-color;
  text-decoration: none;
}

.navbar-tabs-link-sm {
  padding: .8rem 1.25rem;
}

.navbar-tabs-link-lg {
  padding: 1.125rem 1.25rem;
}

.navbar-tabs-link.active,
.navbar-tabs-link.active:hover {
  box-shadow: inset 0 -3px 0 0 theme-color("primary");
  border: none;
}

.navbar-tabs-link.active,
.navbar-tabs-item.show .navbar-tabs-link {
  background-color: transparent;
}
