// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";


// smooth scrolling on mobile
.modal-open .modal.show {
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  margin-left: auto;
  margin-right: auto;

  .modal.fade & {
    transform: none;
  }
  .modal.show & {
    transform: none;
    animation: triniti-slidein-top 0.3s;
  }
  .show.animate-center & {
    animation: triniti-bounce 0.3s;
  }
  .show.animate-left & {
    animation: triniti-slidein-left 0.3s;
  }
  .show.animate-right & {
    animation: triniti-slidein-right 0.3s;
  }
  .modal-align-right & {
    margin-right: $modal-dialog-margin;
  }
  .modal-align-left & {
    margin-left: $modal-dialog-margin;
  }
  .modal-dialog-centered.modal-align-bottom & {
    align-items: flex-end;
  }
}


// Actual modal
.modal-content {
  border: none;
  @include border-radius($modal-content-border-radius);
  box-shadow: $shadow-depth-6;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  background-color: $gray-100;
  border-radius: $modal-content-border-radius $modal-content-border-radius 0 0;


  & .modal-title {
    margin-bottom: 0;
    line-height: $modal-title-line-height;
  }
  & .close {
    align-self: flex-start;
  }
  &.py-0 .close {
    margin-top: 0;
  }
}

.modal-title {
  display: flex;
  flex: 1 1 100%;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

.modal-headline {
  color: $body-color;
  font-size: 1.675rem;
  font-weight: 500;
  letter-spacing: .008em;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  padding: 2.5rem 2rem 1.5rem 2rem;

  .modal-header + & {
    padding: $modal-inner-padding;
    font-size: 1em;
  }
  & p:last-child {
    margin-bottom: .5rem;
  }
}

// Scale up the modal

.modal-xs {
  max-width: 240px;
}

.modal-sm {
  max-width: $modal-sm;
}

.modal-sd {
  max-width: $modal-sd;

  @media (max-width: 767px) {
    width: calc(100% - 1rem);
  }
}

@media (max-width: 767px) {
  .modal-lg,
  .modal-xl,
  .modal-xxl {
    max-width: calc(100% - 1rem) !important;
  }
}

@media (min-width: 768px) {
  .modal-lg {
    width: calc(100% - 1rem);
    max-width: $modal-lg;
  }
  .modal-xl {
    width: calc(100% - 1rem);
    max-width: $modal-xl;
  }
  .modal-xxl {
    width: calc(100% - 1rem);
    max-width: $modal-xxl;
  }
}

@media (min-width: 1200px) {
  .modal-lg {
    width: calc(100% - 2rem);
    max-width: $modal-lg;
  }
  .modal-xl {
    width: calc(100% - 2rem);
    max-width: $modal-xl;
  }
  .modal-xxl {
    width: calc(100% - 2rem);
    max-width: $modal-xxl;
  }
}

.modal-loading {
  max-width: 60px;

  & .modal-content {
    background: rgba($navbar-theme-dark,.25);
  }
}

// text style to match sweet alert body text

.icon-modal {
  margin-bottom: 1.75rem;
}

.text-modal {
  font-size: 1.192em;
  color: $text-light;
}

.modal-actions {
  margin: 1.5rem auto 0;
}

.btn-modal {
  font-size: 1.125em;
  box-shadow: $shadow-depth-3;
  border-radius: 0.25em;
  margin-right: .65rem;
}
