// Page Header

.page-header {
  z-index: 2;
  display: flex;
  min-height: $header-height + 4;
  padding-right: $width-mobile;
  padding-left: $width-mobile;
  border-bottom: 1px solid $gray-500;
  border-radius: 0 !important;
  background-color: $white;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;

  @media (max-width: 767px) {
    transition: margin $transition;
  }
  @media (min-width: 768px) {
    padding-right: $width-tablet;
    padding-left: $width-tablet;
  }
}

.page-header-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
  padding: .5rem 0;
  letter-spacing: 0;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .offcanvas-left + .main-container .page-header {
    margin-left: 2rem;
  }
}
