// Aside Backdrop
//
// Overlay that appears when aside is active
//
// Variables
// $transition: 250ms ease-in-out;
// $tri-backdrop-bg: $gray;

.tri-backdrop {
  position: fixed;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all $transition;
  pointer-events: none;
  opacity: 0;
  background-color: $gray-rgba-800;
}

@media (max-width: 1024px) {
  .offcanvas-left + .tri-backdrop,
  .offcanvas-right + .tri-backdrop {
    pointer-events: auto;
    opacity: .3;
  }
  .main-nav.is-active + .tri-backdrop {
    pointer-events: auto;
    opacity: .3;
  }
  .usernav-wrapper + .tri-backdrop {
    z-index: 1;
  }
}
