// Navbar

@import "~bootstrap/scss/navbar";

.navbar-nav {

  .dropdown-menu {
    position: absolute;
    float: none;
    transform: none !important;
  }
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  cursor: pointer;
}

.navbar-toggler-icon {
  background-size: auto 20px;
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar {
  background-color: $navbar-theme-light;

  .navbar-nav {
    .is-current > .nav-link {
      color: $navbar-light-active-color;
    }
  }
}

// Dark links against a light background
.navbar-light {
  background-color: $navbar-theme-light;

  .navbar-nav {
    .is-current > .nav-link {
      color: $navbar-light-active-color;
    }
  }
}

// White links against a dark background
.navbar-dark {
  background-color: $navbar-theme-dark;

  .navbar-nav {
    .is-current > .nav-link {
      color: $navbar-dark-active-color;
    }
  }
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  background: $gray-rgba-100;
}

.navbar .dropdown-item.active:hover,
.navbar .dropdown-item.active:focus,
.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
  color: $navbar-light-active-color;
  box-shadow: inset 3px 0 0 0 theme-color("primary");

  @media (max-width: 1024px) {
    background-color: inherit;
  }
}

.navbar-nav .nav-link-icon {
  padding: 1.25em .5em;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .navbar-toggler-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .navbar-nav .nav-link-icon {
    font-size: 1em;
    padding: 1.1em .5em;
  }
}
