// User Nav
//
// Wrapper, container, nav tabs and usernav btn

.usernav-wrapper {
  position: absolute;
  z-index: 1039;
  top: 0;
  right: 0;
  left: auto;
}

.usernav-container {
  position: relative;
  top: 0;
  right: -1rem;
  left: auto;
  display: flex;
  width: 300px;
  height: 100vh;
  margin-right: -300px;
  background-color: $white;
  transition: all $transition;
  box-shadow: 0 0 16px $gray-rgba-600, 0 0 0 1px rgba($black, .025);
  flex-direction: column;
  flex-wrap: nowrap;
}

.usernav-container.offcanvas-right {
  right: 0;
  margin-right: 0;
}

.usernav-container .navbar-tabs-item {
  flex: 1 1 auto;
}

.btn-usernav {
  position: absolute;
  top: .2rem;
  right: .5rem;
  border: none;
  width: 2.125rem;
  height: 2.125rem;
  padding: 2px 0 0 0;
  font-size: .825rem;
  letter-spacing: 0;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: $round;
  transition: all $transition;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: $body-color;
  opacity: .8;

  &:hover,
  &:active {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba($icon-fill-dark, .25);
    cursor: pointer;
  }
  @media (min-width: 1025px) {
    top: .625rem;
    right: 1rem;
  }
  @media (min-width: 1200px) {
    top: .8rem;
    right: 1.125rem;
  }
  @media (min-width: 1400px) {
    top: 1rem;
    right: 1.25rem;
  }
}

.navbar-dark .btn-usernav {
  color: $white;

  &:hover,
  &:active {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba($icon-fill-light, .25);
  }
}

.badge-usernav {
  position: absolute;
  top: -5px;
  right: -6px;
  display: inline-block;
  padding: .33em .6em;
  color: $white;
  background-color: theme-color("warning");
  font-size: 75%;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  border-radius: $round;
  line-height: 1.1;
  vertical-align: text-top;
  opacity: 1;

  @media (max-width: 1024px) {
    top: -3px;
    right: -7px;
  }
}
