// Card Header

.card-header {
  position: sticky;
  top: -1px;
  z-index: $zindex-sticky;

  display: flex;
  flex: 0 0 auto;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  min-height: $header-height + 1;
  padding: 0 $width-mobile;
  background-color: $white;
  box-shadow: 0 -1px 0 0 $gray-500;
  border-bottom: 1px solid $gray-500;

  @media (min-width: 768px) {
    padding: 0 $width-tablet;
  }
  @media (min-width: 1025px) {
    padding: 0 $width-desktop;
  }
  @media (min-width: 1600px) {
    padding: 0 $width-desktop-lg;
  }
}

// Adjustment for btn-icons in card-header todo: find a better way

.card-header > .rounded-circle {
  margin: -.75rem;
}