// Jumbotron

.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: 0;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}

// Example theme options

.jumbotron-dark {
  background-color: theme-color("dark");
  color: $white;
}

.jumbotron-light {
  background-color: $gray-200;
}

.jumbotron-primary {
  background-color: theme-color("primary");
  color: $white;
}

.jumbotron-gray-700 {
  background-color: $gray-700;
}

.jumbotron-dark p,
.jumbotron-primary p {
  color: $white-rgba-500;
}
