//
// checkbox
//

// Custom Checkboxes and Radio Buttons

input.checkbox-input {
  position: absolute;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  padding: 0;
  margin: 0 !important;
  opacity: 0;
  -webkit-appearance: none;
}

input.checkbox-input + label {
  position: relative;
  flex: 0 0 auto;
  width: $form-check-height;
  height: $form-check-height;
  border-radius: $round; // $border-radius
  box-shadow: inset 0 0 0 2px $gray-600;
  background-color: $white;
  transition: box-shadow $transition, background-color $transition;
}

input.checkbox-input:checked + label {
  box-shadow: $form-check-shadow !important;
  background-color: theme-color("secondary");
}

input.checkbox-input + label:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: transparent url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18'%3e%3cpath fill='%23000000' d='M3.525 6.356L7.767 10.6 18.367 0l3.545 3.525L7.77 17.667 0 9.881z'/%3e%3c/svg%3e")  center center / 100% auto no-repeat;
  opacity: .05;
  transform: scale(.6);
}

input.checkbox-input:checked + label:before {
  opacity: 1;
  background: transparent url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18'%3e%3cpath fill='%23ffffff' d='M3.525 6.356L7.767 10.6 18.367 0l3.545 3.525L7.77 17.667 0 9.881z'/%3e%3c/svg%3e")  center center / 100% auto no-repeat;
  transform: scale(.675);
}

// checkbox-input xs

input.form-control-xs.checkbox-input + label {
  width: $form-check-height-xs;
  height: $form-check-height-xs;
}

// checkbox-input sm

input.form-control-sm.checkbox-input + label {
  width: $form-check-height-sm;
  height: $form-check-height-sm;
}

// checkbox-input md

input.form-control-md.checkbox-input + label {
  width: $form-check-height-md;
  height: $form-check-height-md;
  box-shadow: inset 0 0 0 3px $gray-600;
}


// checkbox-input lg

input.form-control-lg.checkbox-input + label {
  width: $form-check-height-lg;
  height: $form-check-height-lg;
  box-shadow: inset 0 0 0 3px $gray-600;
}

// radio-input-label

.checkbox-input-label {
  align-self: flex-start;
}

// disabled

.checkbox-input:disabled + .checkbox-input-label {
  opacity: .5;
  pointer-events: none;

  &:hover {
    cursor: not-allowed;
  }
}

// radio label

.form-group .checkbox-input-label,
.form-check .checkbox-input-label {
  margin-right: .5rem;
}
