// Media

.media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;

  .media-body > & {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  &.aspect-ratio {
    margin-bottom: 0;
  }
}

.media-body {
  flex: 1;
  margin-bottom: 0;

  p:empty {
    display: none;
  }
}

.media-list {
  padding: 0;
}

.media-left {
  margin-right: $table-cell-padding;
}

.media-right {
  margin-left: $table-cell-padding;
}

.media-object {
  border-radius: $border-radius;

  &.rounded-circle {
    border-radius: 50%;
  }
}


// Hover Class

.media-hover-shadow {
  position: relative;
  display: inline-block;
  transition: transform $transition;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: opacity $transition;
    opacity: 0;
    box-shadow: $shadow-depth-6;
  }

  &:hover {
    transform: translate(0, -1px);
  }

  &:hover::after {
    opacity: 1;
  }
}

// Media Hover Outline

.media-hover-outline {
  position: relative;
  display: inline-flex;

  &::after {
    position: absolute;
    z-index: 1031;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    pointer-events: none;
    border: 4px solid $black;
    opacity: 0;
    transition: opacity $transition;
  }

  &:hover::after {
    opacity: .0625;
  }
}


// Media Hover Opacity

.media-hover-opacity {
  transition: opacity $transition;
  opacity: 1;

  &:hover {
    opacity: .4;
  }
}
