// Table

@import "~bootstrap/scss/tables";

.table {
  margin-bottom: .25rem;

  td {
    font-size: .8rem;
  }

  thead th {
    border-bottom: 1px solid $gray-500;
    border-top: none;
    white-space: nowrap;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .01em;
    font-weight: 500;
    color: $body-color-light;
  }
}

td {

  &.td-icons {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
  .table-sm &.td-icons {
    padding-top: 0;
    padding-bottom: 0;
  }
  .table-lg &.td-icons {
    padding-top: .375rem;
  }
}

tr[class^="status-"]:not(.status-published),
tr[class*=" status-"]:not(.status-published) {

  th,
  td {
    border-top: 1px solid rgba(0, 0, 0, 0.03);
  }
}


.td-icons {
  white-space: nowrap;

  & .btn {
    margin-bottom: 0;
  }
}

// Custom overrides

.table-striped.table-hover tr:hover {
  background-color: $gray-200;
}

.table-borderless.table-hover tbody tr:hover {
  box-shadow: inset 0 0 0 1px $gray-rgba-400, inset 0 0 0 2px $white;
}

.table.fixed {
  table-layout: fixed;
}

.table-borderless th,
.table-borderless td {
  border-color: transparent !important;
}


// Sticky-top tables

table.sticky-top + table,
.card-body table.sticky-top {
  margin-top: -1px !important;
}

.table.sticky-top {
  margin-bottom: 0;
  background-color: $white;
}

.table.sticky-top + .table {
  margin-top: 0;
}

.table.sticky-top th {
  padding-top: 0;
  padding-bottom: 0;
  height: $header-height + 2;
  border-top: none;
  line-height: 50px;
}

.table-stretch tr td:last-child {
  white-space: nowrap;
  width: 1px;
  text-align: right;
}

// fixed table columns widths

.table-col-sm {
  width: 3.25rem;  // 52px
}

.table-col-md {
  width: 5rem;  // 80px
}

.table-col-lg {
  width: 7.5rem;  // 120px
}


// Left padding

tr > th:first-child,
tr > td:first-child {
  padding-left: $padding-xs;
}

@media (min-width: 768px) {
  tr > th:first-child,
  tr > td:first-child {
    padding-left: $padding-md;
  }
}
