<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <title>Triniti Admin UI</title>

    <% htmlWebpackPlugin.options.bundle.css.map(function(style) { %>
      <link rel="stylesheet" type="text/css" href="<%= style %>" />
    <% }); %>
  </head>
  <body>
    <div id="root"></div>
    <script>
      <% Object.keys(htmlWebpackPlugin.options.app).map(function(key) { %>
        <%= key %> = <%= JSON.stringify(htmlWebpackPlugin.options.app[key]) %>;
      <% }); %>
    </script>

    <% htmlWebpackPlugin.options.bundle.js.map(function(script) { %>
      <script src="<%= script %>"></script>
    <% }); %>
  </body>
</html>
