// Navbar Tabs
//
//

.nav-tabs {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  background-color: $white;
  border-bottom: 1px solid $gray-500;
  border-top: none;
  flex: 0 0 auto;
}

.nav-boxed {
  display: flex;
  margin: 1rem 0;
  border: 1px solid $gray-500;
  border-top: none;
  box-shadow: 0 -1px 0 0 $gray-500;
  flex: 0 0 auto;

  @media (max-width: 767px) {
    margin: .5rem 0;
  }
}
