// Mobile Nav
//
// Custom styles for mobile navbar, navbar toggler button, and navbar brand.

@media (max-width: 1024px) {
  .navbar-main-mobile {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    flex: 1 0 auto;
    justify-content: space-between;
    background-color: $gray-200;
    align-items: center;
    // box-shadow: inset 0 -1px 1px $gray-rgba-200;
  }
  .navbar-light .navbar-main-mobile {
    background-color: $navbar-theme-light;
  }
  .navbar-dark .navbar-main-mobile {
    background-color: $navbar-theme-dark;
  }
}

.navbar-main-brand {
  width: 130px;
  height: 30px;
  text-align: center;

  @media (max-width: 1024px) {
    margin: 0 !important;
    padding: 0 !important;
  }
  @media (min-width: 1025px) {
    width: $navbarlogo-width;
    height: 2.125rem;
    margin-right: 4.25rem !important;
    margin-left: 1.25rem;
    transition: all $transition;

    &:hover {
      // transform: scale(1.1);
    }
  }
  @media (min-width: 1200px) {
    width: $navbarlogo-width + .75rem;
    height: 2.25rem;
  }
}

.navbar-dark .navbar-main-brand {
  // background: transparent $navbar-logo-dark center center / auto 1.3rem no-repeat;

  @media (min-width: 1025px) {
    // background-size: 80% auto;
  }
}

.navbar-main-spacer {
  display: none;

  @media (max-width: 1024px) {
    display: inline-block;
    width: 48px;
  }
}

.svg-logo-fill {
  fill: currentColor;
}